.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.modal-header {


  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}

.btn-link {
  text-decoration: none;
}

.card-header .title {
  font-size: 17px;
  color: #000;
}
.card-header .accicon {
float: right;
font-size: 20px;
width: 1.2em;
}
.card-header{
cursor: pointer;
border-bottom: none;
}
.card{
border: 1px solid #ddd;
}
.card-body{
border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
transform: rotate(180deg);
}
