<div class="card small">
  <div class="card-body">
    <dl class="row" >
      <div class="col-md-3">
        <dt class="col-sm-12">Codigo de trafo:</dt>
        <dd class="col-sm-9">{{transformador_view.codigo_trafo}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Kva:</dt>
        <dd class="col-sm-9">{{transformador_view.kva}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Material:</dt>
        <dd class="col-sm-9">{{transformador_view.cod_material }}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Marca:</dt>
        <dd class="col-sm-9">{{transformador_view.marca}}</dd>
      </div>


    </dl>


    <dl class="row" >
      <div class="col-md-3">
        <dt class="col-sm-12">Fases:</dt>
        <dd class="col-sm-9">{{transformador_view.fase}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Instalacion:</dt>
        <dd class="col-sm-9">{{transformador_view.fecha_instalacion | date:'dd/M/yyyy'}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Van:</dt>
        <dd class="col-sm-9">{{transformador_view.id_vanmt }}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Tipo servicio:</dt>
        <dd class="col-sm-9">{{transformador_view.tipo_servicio}}</dd>
      </div>


    </dl>

    <dl class="row" >
      <div class="col-md-3">
        <dt class="col-sm-12">Tipo elemento:</dt>
        <dd class="col-sm-9">{{transformador_view.tipo_elemento}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Propiedad:</dt>
        <dd class="col-sm-9">{{transformador_view.propiedad}}</dd>
      </div>
    </dl>
  </div>

  <div class="card-footer" style="background-color: #e8eaf6;">
    <h4>Datos de Corte asociado</h4>
    <h6>Corte padre<span class="badge badge-secondary ml-2">{{corte.codigo_corte}}</span></h6>
  </div>
  <div class="card-footer " style="background-color: #c3c9e8 ;">
    <h4>Datos de poste</h4>
    <dl class="row" *ngFor="let p of poste"  >
      <div class="col-md-3">
        <dt class="col-sm-12">Area de tendido:</dt>
        <dd class="col-sm-9">{{p.area_tendido}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Coordenada X:</dt>
        <dd class="col-sm-9">{{p.coord_x}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Coordenada Y:</dt>
        <dd class="col-sm-9">{{p.coord_y}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Ubicación:</dt>
        <dd class="col-sm-9">{{p.ubicacion}}</dd>
      </div>
    </dl>


  </div>
  <div class="card-footer" style="background-color:#e8eaf6;">
    <h4>Datos de circuito</h4>
    <dl class="row"  >
      <div class="col-md-3">
        <dt class="col-sm-12">Codigo de circuito:</dt>
        <dd class="col-sm-9">{{circuito.codigo_circuito}}</dd>
      </div>

      <div class="col-md-3">
        <dt class="col-sm-12">Capacidad:</dt>
        <dd class="col-sm-9">{{circuito.capacidad}}</dd>
      </div>


      <div class="col-md-4">
        <dt class="col-sm-12">Sub-Estacion:</dt>
        <dd class="col-sm-9">{{circuito.id_ssee}}</dd>
      </div>
    </dl>
  </div>

</div>

