


<div class="p-2 pb-3 bg-white rounded shadow mb-5  mt-4 ">
  <div class="card-header m-0  text-black-50 mb-4" style="background-color: #014034" >
    <h3 class="h3 mb-0 " style="color: white;"><i class="fas fa-power-off" id="move"></i> Interrupciones</h3>
  </div>

  <ul class="nav nav-pills mb-3" style="background-color: #F2F2F2;" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link font-weight-bold " id="pills-home-tab" data-toggle="pill" href="#reclamos" role="tab" aria-controls="pills-home" aria-selected="true"> <i class="fas fa-diagnoses"></i> Reclamos (Sistema de Órdenes)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold active" id="pills-profile-tab" data-toggle="pill" href="#interrupciones" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-folder-open    "></i> Interrupciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" id="pills-contact-tab" data-toggle="pill" href="#forminterrupcion" role="tab" aria-controls="pills-contact" aria-selected="false"> <i class="fas fa-chart-bar    "></i> Nueva Interrupción</a>
    </li>
  </ul>

  <!-- TABS -->
  <div class="tab-content" id="pills-tabContent">

     <!--RECLAMOS-->
    <div class="tab-pane  fadeInUp  pt-3" id="reclamos" role="tabpanel" aria-labelledby="pills-home-tab">
      <h4 style="color: #C7774E">Reclamos <span class="badge text-white" style="background-color: #FFB563 ;"> Sistema de Órdenes</span></h4>
      <app-reclamos></app-reclamos>
    </div>

    <!-- INTERRUPCIONES -->
    <div class="tab-pane fade show active pt-3" id="interrupciones" role="tabpanel" aria-labelledby="pills-profile-tab">

          <nav class="nav justify-content-center">
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
              <a  class="nav-item nav-link active  text-dark font-weight-bold " id="nav-home-tab" data-toggle="tab" href="#in_generadas" role="tab" aria-controls="nav-home" aria-selected="true">
                <img src="./assets/imagenes/on.png" width="25" height="25" alt=""> Generadas
              </a>
              <a  class="nav-item nav-link ml-2 text-dark font-weight-bold " id="nav-profile-tab" data-toggle="tab" href="#in_cerradas" role="tab" aria-controls="nav-profile" aria-selected="false">
              <img src="./assets/imagenes/close.png" height="25" width="25" alt="">  Cerradas
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane  show active animated fadeInRight" id="in_generadas" role="tabpanel" aria-labelledby="nav-profile-tab">
              <h4 style="color: #0388A6">Interrupciones <span class="badge text-white" style="background-color: #04ADBF ;"> Generadas</span></h4>
              <br>
              <button data-target="#asociacion_inter" data-toggle="modal" (click)="asociarInterrupciones()" *ngIf="interrupciones_arr.length>0"  class="btn btn-lg btn-dark">
               <i class="fas fa-hand-paper    "></i> Asociar Interrupciones</button>
              <br>
              <br>
              <table id="interrupciones_tbl" class="table small table-hover " style="text-align: center;">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Periodo</th>
                    <th>Correlativo</th>
                    <th>Tipo</th>
                    <th>Origen</th>
                    <th>Codigo Interrupción</th>
                    <th>Codigo Reposición</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Personal</th>
                    <th class="text-center">Editar</th >
                    <th class="text-center">Reclamos Asociados</th>

                  </tr>
                </thead>
                <tbody>
                  <tr id="{{interrupcion.id}}" *ngFor="let interrupcion of interrupcionesdto; let i = index" >
                    <td>{{interrupcion.id}}</td>
                    <td>{{interrupcion.periodo}}</td>
                    <td>{{interrupcion.correlativo}}</td>
                    <td>{{interrupcion.tipo_interrupcion}}</td>
                    <td>{{interrupcion.origen_interrupcion}}</td>
                    <td>{{interrupcion.codigo_interrupcion}}</td>
                    <td>{{interrupcion.codigo_reposicion}}</td>
                    <td>{{interrupcion.fecha_ingreso | date: 'dd/M/yyyy H:mm'}}</td>
                    <td>{{interrupcion.fecha_cierre | date: 'dd/M/yyyy H:mm'}}</td>
                    <td>{{interrupcion.personal_atendio}}</td>
                    <td style="background-color: #C4D7A4;">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button ngbTooltip="Editar interrupción" (click)="viewInterrupcion(interrupcion)"   data-toggle="modal" data-target="#dt_interrupcion" type="button" class="btn rounded-pill btn-outline-dark btn-sm" >
                                <i class="fas fa-pencil-alt    "></i>
                            </button>
                          </div>
                    </td>
                    <td class="text-center" style="background-color: #ABC8A4;">
                      <button ngbTooltip="Ver reclamos asociados" (click) = "verReclamosAsociados(interrupcion)"   data-toggle="modal" data-target="#reclamosasociadosmodal" class="btn rounded-pill btn-sm btn-outline-dark"><i class="fas fa-address-card    "></i></button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>



            <div class="tab-pane animated  fadeInLeft " id="in_cerradas" role="tabpanel" aria-labelledby="nav-profile-tab">
              <h4 style="color: #A20D1E">Interrupciones <span class="badge text-white" style="background-color: #DE264C;"> Cerradas</span></h4>
              <table id="interrupcionescerradas_tbl" class="table small table-hover " style="text-align: center;">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Periodo</th>
                    <th>Correlativo</th>
                    <th>Tipo</th>
                    <th>Origen</th>
                    <th>Codigo Interrupción</th>
                    <th>Codigo Reposición</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Personal</th>
                    <th>Detalles</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let interrupcion of interrupcionesCerradas" >
                    <td>{{interrupcion.id}}</td>
                    <td>{{interrupcion.periodo}}</td>
                    <td>{{interrupcion.correlativo}}</td>
                    <td>{{interrupcion.tipo_interrupcion}}</td>
                    <td>{{interrupcion.origen_interrupcion}}</td>
                    <td>{{interrupcion.codigo_interrupcion}}</td>
                    <td>{{interrupcion.codigo_reposicion}}</td>
                    <td>{{interrupcion.fecha_ingreso | date: 'dd/M/yyyy H:mm'}}</td>
                    <td>{{interrupcion.fecha_cierre | date: 'dd/M/yyyy H:mm'}}</td>
                    <td>{{interrupcion.personal_atendio}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button ngbTooltip="Detalles de interrupción" (click)="viewInterrupcion(interrupcion)"  data-toggle="modal" data-target="#dt_interrupcion" type="button" class="btn rounded-pill btn-outline-dark btn-sm" >
                               <i class="fas fa-eye    "></i>
                            </button>
                          </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>

    </div>


    <!-- FORMULARIO INTERRUPCIONES -->
    <div class="tab-pane animated zoomIn pt-3" id="forminterrupcion" role="tabpanel" aria-labelledby="pills-contact-tab">


          <div class="col-md-12 small " style="background-color:rgb(255, 255, 255)">

            <div class="row">
              <h4>Estados de maniobras
                <span class="badge text-white " style="background-color: #11487D;">Generada</span>
                <span class="badge text-white ml-2 " style="background-color: #70D6BC;">Validada</span>
                <span class="badge text-white ml-2" style="background-color: #F1857B;">Asociada</span>
              </h4><br>
            </div>

            <div class="row small">
              <div class="alert col-md-5 text-lg" style="background-color: #FFE29C; color: rgb(20, 54, 117)" role="alert">
               <img src="./assets/imagenes/disclaimer.png" width="40" height="40" alt=""> Maniobras no validadas <span class="badge badge-secondary">{{conteonovalida}}</span>
              </div>
            </div>

            <table style="width: 100%;" class="table mt-3  table-light table-bordered table-hover" id="tbl_maniobras">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="11" class="text-center text-white" style="background-color: #3B5459;">
                     Itinerario de maniobras
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center">Estado</th>
                    <th class="text-center">ID</th>
                    <th class="text-center">Red modificada</th>
                    <th class="text-center">Fecha de ingreso</th>
                    <th class="text-center">Evento inicia</th>
                    <th class="text-center">Evento finaliza</th>
                    <th class="text-center">Operador Responsable</th>
                    <th class="text-center">Interrupción</th>
                    <th class="text-center">Causa</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let maniobra of maniobradto_arr" >
                    <td *ngIf="maniobra.estado==1"   class="text-center">
                      <div  style="background-color: #11487D; color:white" role="alert">
                           G
                      </div>
                    </td>
                    <td *ngIf="maniobra.estado==2"   class="text-center">
                      <div  style="background-color: #70D6BC; color:white" role="alert">
                           V
                      </div>
                    </td>
                    <td *ngIf="maniobra.estado==3"   class="text-center">
                      <div  style="background-color: #F1857B; color:white" role="alert">
                           A
                      </div>
                    </td>
                    <td  class="text-center">{{maniobra.id}}</td>
                    <td  class="text-center">{{maniobra.red_modificada}}</td>
                    <td  class="text-center">{{maniobra.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</td>
                    <td  class="text-center">{{maniobra.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</td>
                    <td  class="text-center">{{maniobra.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</td>
                    <td  class="text-center">{{maniobra.usuario.nombre}} {{maniobra.usuario.apellido}}</td>
                    <td class="text-center" >{{maniobra.tipo_interrupcion}}</td>
                    <td >{{maniobra.causa.descripcion_causa}}</td>
                    <td >
                        <div class="btn-group" role="group" aria-label="Basic example">

                            <button class="btn btn-sm btn-secondary" id="btn_verdetallemaniobra" (click)="verDetalleManiobra(maniobra)"  data-toggle="modal" data-target="#dt_maniobras_modal">
                              <i class="fas fa-eye    "></i> ver
                            </button>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>

        <div class="dropdown-divider "></div>

        <!--FORMULARIO DE INTERRUPCIONES-->

        <div class="row mt-4" *ngIf="div_maniobrasseleccionadas" >
          <div class="col-md-12">
            <div class="card">
              <div class="card-header text-center" style="background-color: #083A40; color:white">
                <img class="img-fluid" src="./assets/imagenes/analytics1.png" width="40" height="40">  Maniobras seleccionadas
              </div>
              <div class="card-body" style="background-color: #D1D9D0;">
                <table class="table small table-bordered table-hover">
                  <thead >
                    <tr>

                      <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora apertura</th>
                      <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Elemento Aperturado</th>
                      <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Fase afectada</th>
                      <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora cierre</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detalle of detalleitinerario_tbl" >
                      <td style="border: solid 1px grey" class="text-center">{{detalle.hora_apertura | date:'dd/M/yyyy h:mm'}}</td>
                      <td style="border: solid 1px grey" class="text-center">{{detalle.elemento_aperturado}}</td>
                      <td style="border: solid 1px grey" class="text-center">{{detalle.fase_afectada}}</td>
                      <td style="border: solid 1px grey" class="text-center">{{detalle.hora_cierre | date:'dd/M/yyyy h:mm'}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulario para nueva interrupcion -->
        <div class="row mt-4" >
            <div class="col-md-12"  >
              <form style="background-color:whitesmoke"  class="p-2" #frm_interrup="ngForm" >



                <div class="badge badge-pill text-white col-md-6 mt-5 text-left" style="background-color: #00C291; font-size: medium">
                  <i class="fas fa-info-circle    "></i> Rellenar los siguientes campos para una interrupción
                </div>
                <div class="row mt-3">


                  <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Tipo de interrupción:</label>
                        <select #interrupciontipo="ngModel" [(ngModel)]="interrupcion_frm.tipo_interrupcion" required  name="tipointerrupcion" class="form-control" id=""  >
                          <option value="">Seleccione una opcion...</option>
                          <option value="F">Forzada</option>
                          <option value="M">Por maniobra</option>
                          <option value="P">Programada</option>
                        </select>
                    </div>
                    <div [hidden] = "interrupciontipo.valid || interrupciontipo.pristine" class="alert small alert-danger">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Fase:</label>
                        <select #fase="ngModel" [(ngModel)]="interrupcion_frm.fase" required  name="fase" class="form-control" id=""  >
                          <option value="">Seleccione una opcion...</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="AB">AB</option>
                          <option value="AC">AC</option>
                          <option value="BA">BA</option>
                          <option value="BC">BC</option>
                          <option value="ABC">ABC</option>
                        </select>
                    </div>
                    <div [hidden] = "fase.valid || fase.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Sistema:</label>
                        <select (change)="changeSistema($event.target.value)"  #sistema="ngModel" [(ngModel)]="interrupcion_frm.tipo_sistema" required  name="sistema" class="form-control" id=""  >
                          <option value="">Seleccione una opcion...</option>
                          <option value="BT">BT</option>
                          <option value="AT">AT</option>
                          <option value="MT">MT</option>
                        </select>
                    </div>
                    <div [hidden] = "sistema.valid || sistema.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>

                </div>

                <div class="col-md-2">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Elemento:</label>
                      <input id="typeahead-basic" [ngbTypeahead]="busqueda_elem" placeholder="Elemento"  type="text" class="form-control" name="elemento" #elemento="ngModel" [(ngModel)]="interrupcion_frm.elemento" required>
                  </div>
                  <div [hidden] = "elemento.valid || elemento.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-2">
                <div class="form-group">
                    <label class="font-weight-bold" for="">Efecto:</label>
                    <select id="typeahead-basic"  #status="ngModel"  class="form-control"  [(ngModel)]="interrupcion_frm.status" name="status" required >
                      <option value="">Seleccione...</option>
                      <option value="E">Falta de Energia</option>
                      <option value="I">Problema Interno</option>
                      <option value="F">Fuerza Mayor</option>
                    </select>
                </div>
                <div [hidden] = "status.valid || status.pristine" class="alert alert-danger small">
                    <i class="fas fa-exclamation-circle"></i> Campo requerido
                </div>

            </div>

            <div class="col-md-2">
              <div class="form-group">
                  <label class="font-weight-bold" for="">Acometida:</label>
                  <select (change)="changeacometida($event.target.value)" name="acometida1" #acometidad="ngModel" class="form-control" [(ngModel)]="interrupcion_frm.acometidad">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                  </select>
                  </div>
              <div [hidden] = "acometidad.valid || acometidad.pristine" class="alert alert-danger small">
                  <i class="fas fa-exclamation-circle"></i> Campo requerido
              </div>

            </div>
                </div>

                <div class="row">

                  <div class="col-md-2" *ngIf="divsuministro"   >
                    <div class="form-group">
                      <label class="font-weight-bold" for="">Suministro:</label>
                      <input required placeholder="" #num_suministro="ngModel" type="text" class="form-control"  name="num"  [(ngModel)]="interrupcion_frm.num_suministro" >
                    </div>
                    <div [hidden]= "num_suministro.valid || num_suministro.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido
                    </div>
                  </div>


                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold" for="">Origen:</label>
                            <select class="form-control" name="origen_interrupcion" #origen_interrupcion="ngModel" [(ngModel)]="interrupcion_frm.origen_interrupcion" required>
                            <option value="E">Externa</option>
                            <option value="I">Interna</option>
                            </select>
                        </div>
                        <div [hidden] = "origen_interrupcion.valid || origen_interrupcion.pristine" class="alert alert-danger small">
                            <i class="fas fa-exclamation-circle"></i> Campo requerido
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="font-weight-bold" for="">Causa:</label>
                            <select (change)="validacionUTKW()" class="form-control" name="causa" #causa="ngModel" [(ngModel)]="interrupcion_frm.causainterrupcion" required>
                              <option *ngFor="let causa of causas"  value="{{causa.codigo_causa}}">{{causa.descripcion_causa}}</option>
                            </select>
                        </div>
                        <div [hidden] = "causa.valid || causa.pristine" class="alert alert-danger small">
                            <i class="fas fa-exclamation-circle"></i> Campo requerido
                        </div>

                    </div>

                    <div class="col-md-3" *ngIf="divutkw" >
                        <div class="form-group">
                            <label class="font-weight-bold" for="">UT KW:</label>
                        <input placeholder="UT KW"  type="text" class="form-control"   name="kwh_ut" #kwh_ut="ngModel" [(ngModel)]="interrupcion_frm.kwh_ut" required>
                        </div>
                        <div [hidden] = "kwh_ut.valid || kwh_ut.pristine" class="alert alert-danger small">
                            <i class="fas fa-exclamation-circle"></i> Campo requerido
                        </div>
                    </div>
                </div>

                <div class="row">




                    <div class="col-md-5 bg-white shadow-sm ml-5">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Evento inicia:</label>
                          <div class="input-group  " >
                            <input class="form-control " [(ngModel)]="fecha_eventoinicia" placeholder="dd/mm/yyyy" name="dp11" #ap="ngbDatepicker"  ngbDatepicker >
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary "  (click)="ap.toggle()" type="button">
                                <i class="fas fa-calendar-alt    "></i>
                              </button>
                            </div>
                          </div>

                          <div class="row justify-content-md-center" >
                            <div class="col col-md-6"><ngb-timepicker [(ngModel)]="hora_eventoinicia"  name="hora11" ></ngb-timepicker   ></div>
                          </div>
                      </div>

                  </div>



                    <div class="col-md-5 bg-white shadow-sm ml-5">
                        <div class="form-group">
                            <label class="font-weight-bold" for="">Evento finaliza:</label>
                            <div class="input-group  " >
                              <input class="form-control " [(ngModel)]="fecha_eventofinaliza" placeholder="dd/mm/yyyy" name="dp1" #cierre="ngbDatepicker"  ngbDatepicker >
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary "  (click)="cierre.toggle()" type="button">
                                  <i class="fas fa-calendar-alt    "></i>
                                </button>
                              </div>
                            </div>

                            <div class="row justify-content-md-center" >
                              <div class="col col-md-6"><ngb-timepicker [(ngModel)]="hora_eventofinaliza"  name="hora1" ></ngb-timepicker   ></div>
                            </div>
                        </div>

                    </div>



                </div>
                <!--  -->
                <div class="row mt-3 d-none" *ngIf="divalertatiempos" >
                  <div class=" col-md-12">

                      <div class="card border-left-warning ">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">

                                <div class="h5 mb-0 font-weight-bold text-white row">
                                  <div class=col>
                                      <h3><span class="badge" style="background-color: #00A0B2;"><i class="fas fa-clock    "></i> Tiempo en concepto de horas: {{horas}} hora(s)</span></h3>
                                  </div>
                                  <div class=col>
                                      <h3><span class="badge" style="background-color: #014F5C;"><i class="fas fa-clock    "></i> Tiempo en concepto de minutos: {{minutos}} minuto(s)</span></h3>
                                  </div>
                                  <label for=""></label>
                                </div>
                              </div>
                              <div class="col-auto">
                                  <i class="fas fa-exclamation-circle fa-2x text-gray-300   "></i>
                                </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">División de red:</label>
                        <select class="form-control" name="divisionred" #divisionred="ngModel" [(ngModel)]="interrupcion_frm.codigo_dred" required>
                          <option value="A">Alterada</option>
                        <option value="N">Normal</option>
                        </select>
                    </div>
                    <div [hidden] = "divisionred.valid || divisionred.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>
                </div>

                  <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Calificación:</label>
                        <select (change)="validacionFechas($event.target.value)" #calificacion="ngModel" [(ngModel)]="interrupcion_frm.calificacion"  class="form-control" name="calificacion"  required>

                          <option selected value="P">
                            Procede
                          </option>
                          <option value="N" >
                            No procede
                          </option>
                        </select>
                    </div>
                    <div [hidden] = "calificacion.valid || calificacion.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>

                </div>
                  <div class="col-md-8">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Motivo Reportado:</label>
                          <textarea style="text-transform: uppercase;" class="form-control" name="motivo" #motivo="ngModel" [(ngModel)]="interrupcion_frm.motivo_reportado" required>
                          </textarea>
                      </div>
                      <div [hidden] = "motivo.valid || motivo.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>
                  </div>






                </div>

                <div class="row">
                <div class="dropdown-divider"></div>
                </div>

                <div class="row mt-5 ">
                  <div class="col-md-12" *ngIf="div_botones_interru" >
                      <button (click)="saveInterrupcion()" [disabled]="frm_interrup.invalid && interrupcion_frm.calificacion == 'P'" style="border:solid 1px black"  type="button"  class="btn  btn-outline-success btn-md btn-block"><i class="fas fa-save    "></i> Guardar Interrupción</button>
                      <button type="reset" style="border:solid 1px black" class="btn btn-outline-danger btn-md btn-block  " ><i class="fas fa-times-circle    "></i> Cancelar</button>

                    </div>
                    <div *ngIf="event_loader"  id="circle" class="col-md-6 mr-3"></div>
                </div>

              </form>
            </div>
        </div>
    </div>

  </div>
</div>










<!-- MODAL RECLAMOS ASOCIADOS A INTERRUPCION -->
<div class="modal animated flipInX" id="reclamosasociadosmodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">
            <img src="./assets/imagenes/request.png" width="30" height="30"  alt="">
            <img src="./assets/imagenes/lampara.png" width="30" height="30" alt="">
            Reclamos asociados <span class="badge badge-success">Interrupcion {{interrupciondto.id}}</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body ">
        <!--TABLA DE RECLAMOS-->

        <div class="card-footer">
          <table  id="reclamos_tbl" class="table table-sm small mt-4 table-hover">
            <thead class="thead-dark">
              <tr>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center">Correlativo</th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center">Fecha Creación</th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center">Comentario</th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center">Trafo</th>
                <th style="background-color: #4F4274; color:whitesmoke;"  class="text-center">NIS</th>
                <th style="background-color: #4F4274; color:whitesmoke;"  class="text-center">Corte</th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center">Cliente </th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center"></th>
                <th style="background-color: #4F4274; color:whitesmoke;" class="text-center"></th>



              </tr>
            </thead>
            <tbody>
              <tr *ngIf="reclamosasociados.length == 0">
                <td colspan="8">
                  <div class="alert alert-warning text-center" role="alert">
                    <i class="fas fa-info-circle    "></i><strong class="text-center"> No se encontraron reclamos asociados</strong>
                  </div>
                </td>
              </tr>
              <tr id="{{reclamo.correlativo}}" *ngFor="let reclamo of reclamosasociados; let i = index" >
              <td class="text-center">{{reclamo.correlativo}}</td>
              <td class="text-center">{{reclamo.fecha | date: 'dd/M/yyyy H:mm'}}</td>
              <td   class="">
                  <div style="max-height: calc(25vh - 100px); overflow-y: auto;">
                    {{reclamo.comentario}}
                  </div>
                </td  >
              <td class="text-center">
                {{reclamo.codigo_elemento}}</td>
              <td class="text-center">{{reclamo.num_suministro}}</td>
              <td class=""></td>

              <td class="text-center">{{reclamo.nombres_reporta }} {{reclamo.apellidos_reporta}}</td>
              <td class="text-center"><button (click)="verReclamo(reclamo)" ngbTooltip="Detalles" class="btn btn-sm rounded-pill btn-outline-dark"><i class="fas fa-eye"></i> </button ></td>
              <td class="text-center">
                <button (click)="iniciarDesasociar(reclamo)" class="btn btn-sm rounded-pill btn-outline-dark" ngbTooltip="Desasociar"><i class="fas fa-download    "></i></button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <div  class="col-md-12 small detallereclamo animated fadeInLeft d-none ">
            <div class="card">
              <div class="card-header" style="background-color: rgb(238, 223, 240);">
                <h5>Reclamo <span class="badge badge-dark">{{reclamodto.correlativo}}</span></h5>
              </div>
              <div class="card-body ">
               <dl class="row" >
                 <div class="col-md-3">
                   <dt class="col-sm-12">Reporto:</dt>
                   <dd class="col-sm-9">{{reclamodto.nombres_reporta}} {{reclamodto.apellidos_reporta}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Cliente:</dt>
                   <dd class="col-sm-9">{{reclamodto.nombres}} {{reclamodto.apellidos}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Tipo Reclamo:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_mreclamo}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Codigo:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_reclamo}}</dd>
                 </div>

               </dl>

               <dl class="row" >
                 <div class="col-md-3">
                   <dt class="col-sm-12">Fecha Reclamo:</dt>
                   <dd class="col-sm-9">{{reclamodto.fecha | date: 'dd/M/yyyy H:mm'}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Elemento:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_elemento}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Medidor:</dt>
                   <dd class="col-sm-9">{{reclamodto.numero_medidor}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">NIS:</dt>
                   <dd class="col-sm-9">{{reclamodto.num_suministro}}</dd>
                 </div>



               </dl>

               <dl class="row" >

                 <div class="col-md-3">
                   <dt class="col-sm-12">Tarifa:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_tarifa}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Tipo Servicio:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_tipo_servicio}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Estado Reclamo:</dt>
                   <dd class="col-sm-9">{{reclamodto.reclamo_cerrado}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">N° Orden:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_tipo_ordentrabajo}}</dd>
                 </div>

               </dl>

               <dl class="row" >

                 <div class="col-md-3">
                   <dt class="col-sm-12">Factura:</dt>
                   <dd class="col-sm-9">{{reclamodto.numero_factura}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Orden Inspección:</dt>
                   <dd class="col-sm-9">{{reclamodto.numero_orden_inspeccion}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Periodo:</dt>
                   <dd class="col-sm-9">{{reclamodto.periodo}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Reconexion:</dt>
                   <dd class="col-sm-9">{{reclamodto.reconexion}}</dd>
                 </div>

               </dl>

               <dl class="row" >

                 <div class="col-md-3">
                   <dt class="col-sm-12">Servicio Nuevo:</dt>
                   <dd class="col-sm-9">{{reclamodto.servicio_nuevo}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Tipo Servicio:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_tipo_servicio}} </dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Monto Reclamo:</dt>
                   <dd class="col-sm-9">{{reclamodto.monto_reclamo}}</dd>
                 </div>

                 <div class="col-md-3">
                   <dt class="col-sm-12">Calificación:</dt>
                   <dd class="col-sm-9">{{reclamodto.calificacion_reclamo}}</dd>
                 </div>

               </dl>

               <dl class="row" >

                 <div class="col-md-3">
                   <dt class="col-sm-12">Usuario EDESAL:</dt>
                   <dd class="col-sm-9">{{reclamodto.codigo_usuario}}</dd>
                 </div>

                 <div class="col-md-8">
                   <dt class="col-sm-12">Motivo:</dt>
                   <dd class="col-sm-9">{{reclamodto.comentario}} </dd>
                 </div>


               </dl>

              </div>

            </div>
          </div>
        </div>

        <!-- itinerario de maniobras -->
        <div style="border-top:solid 1px grey" class="card-footer animate__fadeIn small d-none desasociarrcl">
          <table style="width: 100%;" class="table-sm table-light table-bordered table-hover" id="">
            <thead class="">
              <tr>
                <th colspan="11" class="text-center text-white" style="background-color: #003B74; color: white">
                 Itinerario de maniobras
                </th>
              </tr>
              <tr>
                <th class="text-center">Estado</th>
                <th class="text-center">ID</th>
                <th class="text-center">Red modificada</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Evento inicia</th>
                <th class="text-center">Evento finaliza</th>
                <th class="text-center">Operador Responsable</th>
                <th class="text-center">Interrupción</th>
                <th class="text-center">Causa</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maniobra of maniobradto_arr" >
                <td *ngIf="maniobra.estado==1"   class="text-center">
                  <div  style="background-color: #11487D; color:white" role="alert">
                       G
                  </div>
                </td>
                <td *ngIf="maniobra.estado==2"   class="text-center">
                  <div  style="background-color: #70D6BC; color:white" role="alert">
                       V
                  </div>
                </td>
                <td *ngIf="maniobra.estado==3"   class="text-center">
                  <div  style="background-color: #F1857B; color:white" role="alert">
                       A
                  </div>
                </td>
                <td  class="text-center">{{maniobra.id}}</td>
                <td  class="text-center">{{maniobra.red_modificada}}</td>
                <td  class="text-center">{{maniobra.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.usuario.nombre}} {{maniobra.usuario.apellido}}</td>
                <td class="text-center" >{{maniobra.tipo_interrupcion}}</td>
                <td >{{maniobra.causa.descripcion_causa}}</td>
                <td >
                    <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn btn-sm btn-secondary" id="btn_verdetallemaniobra" (click)="verDetalleManiobra(maniobra)"  data-toggle="modal" data-target="#dt_maniobras_modal">
                          <i class="fas fa-eye    "></i> ver
                        </button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- maniobras seleccionadas -->
          <table style="width: 100%;" class="table-sm table-light table-bordered table-hover" *ngIf="div_maniobrasseleccionadas_rcl" >
            <thead >
              <tr >
                <th style="background-color: #11054E; color:white" colspan="8" class="text-center">
                    Maniobras seleccionadas
                </th>
              </tr>
              <tr>

                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora apertura</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Elemento Aperturado</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Fase afectada</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora cierre</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleitinerario_tbl" >
                <td style="border: solid 1px grey" class="text-center">{{detalle.hora_apertura | date:'dd/M/yyyy h:mm'}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.elemento_aperturado}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.fase_afectada}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.hora_cierre | date:'dd/M/yyyy h:mm'}}</td>

              </tr>
            </tbody>
          </table>
        </div>

        <!-- FORMULARIO PARA NUEVA INTERRUPCION PARA ASOCIAR UN RECLAMO -->
        <div class="card-footer" style="border-top: grey 1px solid;" id="" class="d-none desasociarrcl">
          <div class="col-md-12 " >
          <form   class="p-2" #frm_interrup="ngForm"  >

            <h5> <span class="badge badge-pill badge-secondary"> Rellene los siguientes campos para asociar las interrupciones seleccionadas a los reclamos listados</span></h5>

              <div class="row mt-3">


                <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Tipo de interrupción:</label>
                      <select #interrupciontipo="ngModel" [(ngModel)]="interrupcion_frm.tipo_interrupcion" required  name="tipointerrupcion" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="F">Forzada</option>
                        <option value="M">Por maniobra</option>
                        <option value="P">Programada</option>
                      </select>
                  </div>
                  <div [hidden] = "interrupciontipo.valid || interrupciontipo.pristine" class="alert small alert-danger">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Fase:</label>
                      <select #fase="ngModel" [(ngModel)]="interrupcion_frm.fase" required  name="fase" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="AB">AB</option>
                        <option value="AC">AC</option>
                        <option value="BA">BA</option>
                        <option value="BC">BC</option>
                        <option value="ABC">ABC</option>
                      </select>
                  </div>
                  <div [hidden] = "fase.valid || fase.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Sistema:</label>
                      <select (change)="changeSistema($event.target.value)"  #sistema="ngModel" [(ngModel)]="interrupcion_frm.tipo_sistema" required  name="sistema" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="BT">BT</option>
                        <option value="AT">AT</option>
                        <option value="MT">MT</option>
                      </select>
                  </div>
                  <div [hidden] = "sistema.valid || sistema.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label class="font-weight-bold" for="">Acometida:</label>
                    <select (change)="changeacometida($event.target.value)" name="acometida" #acometidad="ngModel" class="form-control" [(ngModel)]="interrupcion_frm.acometidad">
                      <option value="S">Si</option>
                      <option value="N">No</option>
                    </select>
                    </div>
                <div [hidden] = "acometidad.valid || acometidad.pristine" class="alert alert-danger small">
                    <i class="fas fa-exclamation-circle"></i> Campo requerido
                </div>

              </div>


              </div>

              <div class="row">

                 <div class="col-md-3">
                    <div class="form-group">
                        <label  for="elementos" class="font-weight-bold" for="">Elemento:
                        </label>
                        <select   [(ngModel)]="interrupcion_frm.elemento"  name="elemento" id="elementos1" class="form-control  js-example-responsive">
                          <option value="">...</option>
                          <option value="{{elemento}}" *ngFor="let elemento of elementos" >{{elemento}}</option>
                        </select>

                    </div>

                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Suministro:</label>
                          <input readonly="readonly" type="text" [(ngModel)]="interrupcion_frm.num_suministro" class="form-control" name="suministro" #num_suministro="ngModel" >
                      </div>
                      <div [hidden] = "num_suministro.valid || num_suministro.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Origen:</label>
                          <select class="form-control" name="origen_interrupcion" #origen_interrupcion="ngModel" [(ngModel)]="interrupcion_frm.origen_interrupcion" required>
                          <option value="E">Externa</option>
                          <option value="I">Interna</option>
                          </select>
                      </div>
                      <div [hidden] = "origen_interrupcion.valid || origen_interrupcion.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>




                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Causa:</label>
                          <select (change)="validacionUTKW()" class="form-control" name="causa" #causa="ngModel" [(ngModel)]="interrupcion_frm.causainterrupcion" required>
                            <option *ngFor="let causa of causas"  value="{{causa.codigo_causa}}">{{causa.codigo_causa}}-{{causa.descripcion_causa}}</option>
                          </select>
                      </div>
                      <div [hidden] = "causa.valid || causa.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>

                  <div class="col-md-2" *ngIf="divutkw" >
                      <div class="form-group">
                          <label class="font-weight-bold" for="">UT KW:</label>
                          <input placeholder="UT KW"  type="text" class="form-control" name="kwh_ut" #kwh_ut="ngModel" [(ngModel)]="interrupcion_frm.kwh_ut" required>
                      </div>
                      <div [hidden] = "kwh_ut.valid || kwh_ut.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>
              </div>

              <div class="row">

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">División de red:</label>
                          <select class="form-control" name="divisionred" #divisionred="ngModel" [(ngModel)]="interrupcion_frm.codigo_dred" required>
                            <option value="A">Alterada</option>
                          <option value="N">Normal</option>
                          </select>
                      </div>
                      <div [hidden] = "divisionred.valid || divisionred.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>
                  </div>

                  <div class="col-md-4 bg-white shadow-sm ml-3" >
                    <div class="form-group">
                      <label class="font-weight-bold" for="">Evento inicia: </label>
                      <div class="input-group  " >
                        <input class="form-control " placeholder="dd/mm/yyyy" [(ngModel)]="fecha_eventoinicia" name="dp" #apertura="ngbDatepicker"  ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="apertura.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center" >
                        <div class="col col-md-6"><ngb-timepicker  name="hora" [(ngModel)]="hora_eventoinicia"  ></ngb-timepicker   ></div>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-4 bg-white shadow-sm ml-3" >
                    <div class="form-group">
                      <label class="font-weight-bold" for="">Evento finaliza: </label>
                      <div class="input-group  " >
                        <input class="form-control " placeholder="dd/mm/yyyy" [(ngModel)]="fecha_eventofinaliza" name="dp1" #finaliza="ngbDatepicker"  ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="finaliza.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center" >
                        <div class="col col-md-6">
                          <ngb-timepicker  name="hora1" [(ngModel)]="hora_eventofinaliza"  >

                          </ngb-timepicker>

                          </div>
                      </div>
                    </div>
                  </div>



              </div>



              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Calificación:</label>
                      <select (change)="validacionFechas($event.targe.value)" #calificacion="ngModel" [(ngModel)]="interrupcion_frm.calificacion"  class="form-control" name="calificacion"  required>
                        <option value="">...</option>
                        <option value="P">
                          Procede
                        </option>
                        <option value="N" >
                          No procede
                        </option>
                      </select>
                  </div>
                  <div [hidden] = "calificacion.valid || calificacion.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Motivo Reportado:</label>
                        <textarea style="text-transform: uppercase;" class="form-control" name="motivo" #motivo="ngModel" [(ngModel)]="interrupcion_frm.motivo_reportado" required>
                        </textarea>
                    </div>
                    <div [hidden] = "motivo.valid || motivo.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>
                </div>






              </div>

              <div class="row">
              <div class="dropdown-divider"></div>
              </div>




          </form>
          </div>
        </div >




      </div>

      <div class="modal-body small" >

      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success desasociarrcl" (click)="generarDesasociacion()" data-dismiss="modal"><i class="fas fa-download    "></i> Desasociar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fas fa-times-circle    "></i> Cerrar</button>

      </div>
    </div>
  </div>
</div>

<app-dt-interrupcion [reclamo_asociado]="reclamo_asociado"   [interrupciondto] = "interrupciondto" [interrupcionreclamo] = "interrupcionreclamo" [mensaje] = "mensaje"></app-dt-interrupcion>



<div id="asociacion_inter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">Desasociar Reclamo</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="card">
          <div class="card-body small">
            <h4>Reclamos</h4>
            <table class="table table-light table-sm">
              <thead class="thead-light">
                <tr>
                  <th  style="background-color: black; color:white;" class="text-center">N° Reclamo</th>
                  <th  style="background-color: black; color:white;" class="text-center">Periodo</th>
                  <th  style="background-color: black; color:white;" class="text-center">Fecha Creación</th>
                  <th  style="background-color: black; color:white;" class="text-center">Comentario</th>
                  <th  style="background-color: black; color:white;" class="text-center">Trafo</th>
                  <th  style="background-color: black; color:white;"  class="text-center">NIS</th>
                  <th  style="background-color: black; color:white;"  class="text-center">Corte</th>
                  <th  style="background-color: black; color:white;" class="text-center">Cliente Reporto</th>
                  <th  style="background-color: black; color:white;" class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="reclamosasociados.length==0" >
                  <td colspan="8">
                    <div class="alert alert-warning align-content-center" role="alert">
                     <i class="fas fa-exclamation    "></i>  Las interrupciones seleccionadas no tienen reclamos asociados.
                    </div>
                  </td>
                </tr>
                <tr *ngFor="let reclamo of reclamosasociados" >
                  <td class="text-center">{{reclamo.codigo_reclamo}}</td>
                  <td class="text-center">{{reclamo.periodo}}</td>
                  <td class="text-center">{{reclamo.fecha | date: 'dd/M/yyyy H:mm'}}</td>
                  <td   class="">
                     <div style="max-height: calc(25vh - 100px); overflow-y: auto;">
                       {{reclamo.comentario}}
                     </div>
                   </td  >
                  <td class="text-center">
                   {{reclamo.codigo_elemento}}</td>
                  <td class="text-center">{{reclamo.num_suministro}}</td>
                  <td class=""></td>

                  <td class="text-center">{{reclamo.nombres_reporta }} {{reclamo.apellidos_reporta}}</td>
                  <td class="text-center">
                    <button (click) = "verReclamo(reclamo)" data-target="#modalreclamodetalle" data-toggle="modal" ngbTooltip="Detalles"  class="btn btn-sm rounded-pill btn-outline-dark"><i class="fas fa-eye"></i> </button >
                  </td>
                </tr>
              </tbody>
            </table>

          </div>


        </div>
      </div>


      <div class="modal-footer">
        <button [disabled]="frm_interrup.invalid" (click)="generarDesasociacion()" data-dismiss="modal" class="btn btn-outline-success btn-block" ><i class="fas fa-save    "></i> Guardar asociación</button>
      </div>

    </div>
  </div>
</div>






<!--DETALLES DE MANIOBRA MODAL-->

<div id="dt_maniobras_modal" class="modal fade " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-dark " style="background-color:#3F61A6" >
        <div class="modal-title text-white">
          <h5><i class="fab fa-connectdevelop" id="move"></i><b class="ml-2"> Maniobra N° {{maniobradto.id}}</b>
            <span *ngIf="maniobradto.estado==2"  class="badge badge-light ml-4"> La maniobra se encuentra validada</span>
          </h5>

        </div>
      </div>
      <div class="modal-body ">
          <div class="row" >

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header bg-white small" >
                    <dl class="row" >
                      <div class="col-md-3">
                        <dt class="col-sm-12">Red Modificada:</dt>
                        <dd class="col-sm-9">{{maniobradto.red_modificada}}</dd>
                      </div>

                      <div class="col-md-3">
                        <dt class="col-sm-12">Fecha ingreso:</dt>
                        <dd class="col-sm-9">{{maniobradto.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</dd>
                      </div>

                      <div class="col-md-3">
                        <dt class="col-sm-12">Evento inicia:</dt>
                        <dd class="col-sm-9">{{maniobradto.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</dd>
                      </div>

                      <div class="col-md-3">
                        <dt class="col-sm-12">Evento cierra:</dt>
                        <dd class="col-sm-9">{{maniobradto.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</dd>
                      </div>


                    </dl>

                    <dl class="row">
                      <div class="col-md-3">
                        <dt class="col-sm-12">Operador responsable:</dt>
                        <dd class="col-sm-9">{{maniobradto.usuario?.nombre}} {{maniobradto.usuario?.apellido}}</dd>
                      </div>

                      <div class="col-md-3">
                        <dt class="col-sm-12">Tipo de interupción:</dt>
                        <dd class="col-sm-9">{{maniobradto.tipo_interrupcion}}</dd>
                      </div>

                      <div class="col-md-3">
                        <dt class="col-sm-12">Causa Interrupción:</dt>
                        <dd class="col-sm-12">{{maniobradto.causa?.descripcion_causa}}</dd>
                      </div>
                    </dl>
                  </div>

                  <!-- TABLA DE DETALLES DE MANIOBRA -->

                  <div class="card-body">
                      <table class="table small">
                          <thead style="background-color:#001747; color:white">
                            <tr>

                              <th style="border:solid black 1px" class="text-center">Hora apertura</th>
                              <th style="border:solid black 1px" class="text-center">Elemento Aperturado</th>
                              <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                              <th style="border:solid black 1px" class="text-center">Hora cierre</th>
                              <th style="border:solid black 1px" class="text-center">Elemento cierre</th>
                              <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                              <th style="border:solid black 1px" class="text-center">Seleccionar</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr id="{{detallemaniobra.id}}" class="colormaniobra" *ngFor="let detallemaniobra of maniobradto.detallesmaniobra; let i=index" >
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_apertura | date:'dd/M/yyyy H:mm'}}</td>
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_aperturado}}</td>
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada}}</td>
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_cierre | date:'dd/M/yyyy H:mm'}}</td>
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_cierre}}</td>
                                  <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada_cierre}}</td>
                                  <td  style="border: solid 1px black">
                                    <button  [disabled]="maniobradto.estado==1 || maniobradto.estado==3" id="seleccionar{{detallemaniobra.id}}"  (click)="maniobraSeleccionada(detallemaniobra.id, detallemaniobra,i, maniobradto)" class="btn btn-outline-primary btn-block"><i class="fas fa-hand-paper"></i></button>
                                    <button id="deseleccionar{{detallemaniobra.id}}"  (click)="deseleccionarManiobra(detallemaniobra.id, detallemaniobra,i)" class="btn btn-outline-danger btn-block d-none"><i class="fas fa-times-circle"></i></button>
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>

                    <div class="card-body">
                      <button [disabled]="maniobradto.estado==1 || maniobradto.estado==3" id="" (click)="setManiobras()"   class="btn btn-block btn-outline-success"><i class="fas fa-save    "></i> Finalizar</button>
                      <button data-dismiss="modal" class="btn btn-block btn-outline-danger"><i class="fas fa-times-circle    "></i> Cerrar</button>
                    </div>

                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>




