

.all {
  display: flex;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-transform: perspective(300px) rotateX(20deg);
          transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.all:hover {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  transition: all 1.3s ease-in;
  -webkit-transform: perspective(10000px) rotateX(0deg);
          transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
  opacity: 1;
}
.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer {
  opacity: 0;
}

.left, .center, .right, .lefter, .righter {
  width: 200px;
  height: 150px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px #2BB36B;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: fixed;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(153, 162, 179);
  cursor: pointer;
  background-blend-mode: color-burn;
}

.left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
  box-shadow: 0 0 30px 10px #2BB36B;
  background-color: #ccf;
}

.text {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}

.lefter {
  -webkit-transform: translateX(-460px) translateZ(-50px) rotateY(-10deg);
          transform: translateX(-460px) translateZ(-50px) rotateY(-10deg);
  background-image: url('../../../assets/imagenes/compartir.png');
}

.left {
  -webkit-transform: translateX(-230px) translateZ(-25px) rotateY(0deg);
          transform: translateX(-230px) translateZ(-25px) rotateY(0deg);
  background-image: url('../../../assets/imagenes/negocios.png');
}

.center {
  opacity: 1;
  background-image: url('../../../assets/imagenes/lamp.png');
}

.right {
    -webkit-transform: translateX(230px) translateZ(-25px) rotateY(0deg);
    transform: translateX(230px) translateZ(-25px) rotateY(0deg);
  background-image: url('../../../assets/imagenes/energy.png');
}

.righter {
    -webkit-transform: translateX(460px) translateZ(-50px) rotateY(10deg);
          transform: translateX(460px) translateZ(-50px) rotateY(10deg);
  background-image: url('../../../assets/imagenes/transferir.png');
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #2BB36B;
  background-image: radial-gradient(circle at center top, #cce, #2BB36B);
  border-radius: 10px;
  text-shadow: 0 0 10px #2BB36B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ref::first-letter {
  font-size: 12px;
}


