
<div class="row mt-5 " >

    <div class="col-xl-12 col-md-12 mb-12 animated bounceIn ">
        <div class="card border-left-success shadow  " style="height:250px">
          <div class="card-body  p-5" style="background-color: #521E59;">
            <div class="row">
              <div class="col-md-12 align-content-center">
                <div class="all">
                  <div class="lefter">
                    <div class="text">Red Electrica</div>
                  </div>
                  <div class="left">
                    <div class="text">Reportes</div>
                  </div>
                  <div class="center">

                    <div (click)="interrupciones()"  class="explainer"><span><img src="./assets/imagenes/blanco_atomo.png" class="img-fluid" height=100; width=100 alt=""></span></div>
                      <div class="text" (click)="interrupciones()" >

                      Interrupciones
                      </div>
                    </div>
                  <div (click)="maniobras()"  class="right">
                    <div (click)="maniobras()"  class="text">Maniobras</div>
                  </div >
                  <div class="righter">
                    <div class="text">Transferencias</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
