<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 mt-4 ">
  <div class="card-header m-0  text-black-50" style="background-color: #4acf98;color:white;">
    <h3 class="h3 mb-0" style="color: white;"><img src="./assets/imagenes/interruption.png" width="40" height="40"
        alt="">
      Casos de Fuerza Mayor o Casos Fortuitos</h3>
  </div>

  <ul class="nav nav-pills mb-3" style="background-color: #F2F2F2;" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link font-weight-bold " id="pills-home-tab" data-toggle="pill" href="#transformadores" role="tab"
        aria-controls="pills-home" aria-selected="true"> <i class="fas fa-diagnoses"></i> Listado (Casos de fuerza mayor
        )</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold active" id="pills-profile-tab" data-toggle="pill" href="#formtrafo" role="tab"
        aria-controls="pills-profile" aria-selected="false"><i class="fas fa-folder-open    "></i> Nuevo elemento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" id="pills-contact-tab" data-toggle="pill" href="#reportes1" role="tab"
        aria-controls="pills-contact" aria-selected="false"> <i class="fas fa-chart-bar    "></i> Tabla
        SOLICITUDES_FUERZA_MAYOR</a>
    </li>

    <li class="nav-item">
      <a class="nav-link font-weight-bold" id="pills-contact-tab" data-toggle="pill" href="#reportes2" role="tab"
        aria-controls="pills-contact" aria-selected="false"> <i class="fas fa-chart-bar    "></i> Tabla
        FUERZA_MAYOR</a>
    </li>
  </ul>


  <div class="tab-content" id="pills-tabContent">

    <!--Casos fuerza mayor listado-->
    <div class="tab-pane  fadeInUp  pt-3" id="transformadores" role="tabpanel" aria-labelledby="pills-home-tab">
      <div *ngIf="(vm$ | async) as vm">
        <app-list-fm [casos]=vm.state></app-list-fm>
      </div>
    </div>


    <!-- Nuevo elemento -->
    <div class="tab-pane  fadeInUp fade show active  pt-3" id="formtrafo" role="tabpanel"
      aria-labelledby="pills-home-tab">
      <app-add-fm></app-add-fm>
    </div>


    <!-- Reportes -->
    <div class="tab-pane  fadeInUp  pt-3" id="reportes1" role="tabpanel" aria-labelledby="pills-home-tab">

      <app-tbl-sol-fm></app-tbl-sol-fm>

    </div>
    <div class="tab-pane  fadeInUp  pt-3" id="reportes2" role="tabpanel" aria-labelledby="pills-home-tab">
      <app-tbl-fuerza-mayor></app-tbl-fuerza-mayor>
    </div>

  </div>

</div>
