<h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Centro de Transformación</span>
</h4>
<form [formGroup]='trafoform' class="small">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Codigo de Trafo:</label>
            <input mask="T-00000" (change)="codtrafo($event.target.value)" placeholder="Codigo de trafo" type="text"
              class="form-control-sm form-control" name="codigotrafo" formControlName='codigo_trafo'>
          </div>
          <div class="alert alert-danger small"
            *ngIf="trafoform.controls['codigo_trafo'].errors?.required && trafoform.controls['codigo_trafo'].touched">
            <i class="fas fa-exclamation-circle    "></i> Campo requerido!
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Corte Padre:</label>

            <ng-select [items]="cortes" bindLabel="codigo_corte" bindValue="sec_corte" labelForId="state"
              placeholder="Corte padre" clearAllText="Clear" formControlName="corte">
            </ng-select>
          </div>
          <div class="alert alert-danger small"
            *ngIf="trafoform.controls['corte'].errors?.required && trafoform.controls['corte'].touched" role="alert">
            <i class="fas fa-exclamation-circle    "></i> Campo requerido!
          </div>
        </div>

        <!-- <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Corte:</label>
            <input (change)="posteChange($event.target.value)" id="typeahead-basic" [ngbTypeahead]="busqueda_elempostes"
              placeholder="Poste" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='id_pos'>
          </div>
        </div> -->

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Poste:</label>
            <input (change)="posteChange($event.target.value)" id="typeahead-basic" [ngbTypeahead]="busqueda_elempostes"
              placeholder="Poste" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='id_pos'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Circuito:</label>
            <select (ngModelChange)="circuitoSelected($event)" placeholder="Circuito" type="text"
              class="form-control-sm form-control" name="codigotrafo" formControlName='sec_circuito'>
              <option value="">...</option>
              <option *ngFor="let c of circuitos" [ngValue]="c">{{c.codigo_circuito}}</option>
            </select>
          </div>
        </div>





        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fases primaria:</label>
            <select placeholder="Fase" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fase'>
              <option value="">...</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="AB">AB</option>
              <option value="AC">AC</option>
              <option value="BA">BA</option>
              <option value="BC">BC</option>
              <option value="ABC">ABC</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fecha instalación:</label>
            <input type="date" placeholder="Fecha" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fecha_instalacion'>
          </div>
        </div>



      </div>

      <div class="row">


        <!-- <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Marca:</label>
            <input placeholder="Marca" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='marca'>
          </div>
        </div> -->

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Calibre:</label>
            <input placeholder="Calibre" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='calibre_fusible'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Area tendido:</label>
            <select placeholder="" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='area_tendido'>
              <option value=""></option>
              <option value="U">Urbano</option>
              <option value="R">Rural</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Propiedad:</label>
            <select placeholder="Propiedad" type="text" class="form-control-sm form-control" name="propiedad"
              formControlName='propiedad'>
              <option value="">...</option>
              <option value="D">Distribuidora</option>
              <option value="T">Tercero</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Codigo Material Estructura:</label>
            <ng-select [items]="elementos_material" bindLabel="cod_mat_est" bindValue="cod_mat_est" labelForId="state"
              placeholder="Material" clearAllText="Clear" formControlName="cod_material">
            </ng-select>
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">KVA:</label>
            <input placeholder="kVA" type="number" class="form-control-sm form-control" name="codigotrafo"
              formControlName='kva'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Tipo de instalacion:</label>
            <select placeholder="Tipo de arrollamiento" class="form-control-sm form-control" name="codigotrafo"
              formControlName='tipo_instalacion'>

              <option value="aerea">Subestacion (aerea)</option>
              <option value="a nivel">Subestacion (a nivel) </option>
              <option value="subterranea">Subestacion (subterranea) </option>
            </select>
          </div>


        </div>



      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Voltaje primario:</label>
            <select placeholder="" class="form-control-sm form-control" name="cod_material"
              formControlName='cod_voltaje_p'>
              <option value="">...</option>
              <option *ngFor="let v of voltajes" value="{{v.cod_voltaje}}">{{v.nom_voltaje}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Voltaje secundario:</label>
            <select placeholder="" class="form-control-sm form-control" name="cod_material"
              formControlName='cod_voltaje_s'>
              <option value="">...</option>
              <option *ngFor="let v of voltajes" value="{{v.cod_voltaje}}">{{v.nom_voltaje}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Conductores secundario:</label>
            <input placeholder="Conductores" type="number" class="form-control-sm form-control" name="cod_material"
              formControlName='conductores'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Vano MT:</label>
            <input id="typeahead-basic" [ngbTypeahead]="busqueda_elemvanos" placeholder="Vano MT" type="text"
              class="form-control-sm form-control" name="cod_material" formControlName='id_vanmt'>
          </div>


        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Tipo arrollamiento:</label>
            <select placeholder="Tipo de arrollamiento" class="form-control-sm form-control" name="codigotrafo"
              formControlName='tipo_arrollamiento'>

              <option value="M">Monofasico</option>
              <option value="B">Bifasico</option>
              <option value="T">Trifasico</option>
            </select>
          </div>


        </div>





      </div>





      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold" for="">Descripción:</label>
            <textarea formControlName="DESCRIPCION_TRAFO" class="form-control-sm form-control" name="desc"
              formControlName="descripcion_trafo" id="" cols="15" rows="3"></textarea>
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Cantidad de trafos:</label>
            <select (change)="cambioFase($event.target.value)" placeholder="Conductores" type="number"
              class="form-control-sm form-control" name="cod_material" formControlName='cant_trafos'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">

      </div>

      <div class="row">
        <div class="col-md-12">
          <button (click)="guardarTrafo()" type="button" class="btn btn-outline-success btn-block"><i
              class="fas fa-save    "></i> Guardar Elemento</button>
          <button class="btn btn-block btn-outline-secondary"><i class="fas fa-times-circle    "></i> Cancelar</button>
        </div>
      </div>
    </div>
  </div>


</form>

<div *ngIf="detallesct.length > 0">
  <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Transformadores ingresados</span>
  </h4>
  <table class="table">
    <thead>
      <tr>
        <th style="text-align:center">Fase</th>
        <th style="text-align:center">Marca</th>
        <th style="text-align:center">N° Serie</th>
        <th style="text-align:center">Potencia</th>
        <th style="text-align:center">Calibre</th>
        <th style="text-align:center">Posicion TAP</th>
        <th style="text-align:center">Cod. Material</th>
        <th style="text-align:center">Costo Total</th>
        <th style="text-align:center">Fecha Instalacion</th>
        <th style="text-align:center">Banco</th>
        <th style="text-align:center">Propiedad</th>
        <th style="text-align:center">Descripcion</th>
        <th style="text-align:center">Comentarios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of detalle_ct_2">
        <td>{{detail.fases_primaria}}</td>
        <td>{{detail.marca}}</td>
        <td>{{detail.numero_serie}}</td>
        <td>{{detail.potencia}}</td>
        <td>{{detail.calibre_fusible}}</td>
        <td>{{detail.posicion_tap}}</td>
        <td>{{detail.cod_material_trafo}}</td>
        <td>{{detail.costo_total}}</td>
        <td>{{detail.fecha_instalacion | date: 'dd/M/yyyy'}}</td>
        <td>{{detail.banco}}</td>
        <td>{{detail.propiedad}}</td>
        <td>{{detail.descripcion}}</td>
        <td>{{detail.comentarios}}</td>
      </tr>

    </tbody>
  </table>
</div>


<!-- MODAL PARA DETALLES DE CENTRO DE TRANSFORMACION -->

<div id="modaldetallesct" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="my-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal-title">
          <img src="../../../../assets/imagenes/node.png" height="25" width="25" alt="">
          Propiedades de cada transformador
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="frm_trafodetalle">
          <h4>Datos del Transformador<span class="badge badge-primary">{{init}}</span></h4>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Fases primarias:</label>
                <select placeholder="Fase" type="text" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='fases_primaria'>
                  <option value="">...</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="AB">AB</option>
                  <option value="AC">AC</option>
                  <option value="BA">BA</option>
                  <option value="BC">BC</option>
                  <option value="ABC">ABC</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Marca:</label>
                <input type="text" class="form-control form-control-sm" formControlName="marca">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Numero serie:</label>
                <input type="text" class="form-control form-control-sm" formControlName="numero_serie">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Potencia (kva):</label>
                <input type="number" class="form-control form-control-sm" formControlName="potencia">
              </div>
            </div>

          </div>


          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Calibre fusible:</label>
                <input type="text" class="form-control form-control-sm" formControlName="calibre_fusible">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Posición TAP:</label>
                <select type="text" class="form-control form-control-sm" formControlName="posicion_tap">
                  <option value="">...</option>
                  <option value="A">1</option>
                  <option value="B">2</option>
                  <option value="C">3</option>
                  <option value="D">4</option>
                  <option value="E">5</option>
                </select>
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Cod. Material:</label>
                <ng-select (change)="codMaterialChange()" [items]="materiales" bindLabel="cod_material_trafo"
                  bindValue="cod_material_trafo" labelForId="state" placeholder="Cod materiales" clearAllText="Clear"
                  formControlName="cod_material_trafo">
                </ng-select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Costo Total:</label>
                <input readonly type="text" placeholder="Costo" disabled class="form-control-sm form-control"
                  name="codigotrafo" formControlName='costo_total'>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Fecha instalación:</label>
                <input type="date" placeholder="Fecha" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='fecha_instalacion'>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Banco:</label>
                <select type="text" placeholder="Banco" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='banco'>

                  <option value="S">Si</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Propiedad:</label>
                <select placeholder="Propiedad" type="text" class="form-control-sm form-control" name="propiedad"
                  formControlName='propiedad'>
                  <option value="">...</option>
                  <option value="D">Distribuidora</option>
                  <option value="T">Tercero</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold" for="">Descripcion del trafo:</label>
                <textarea readonly type="date" placeholder="Descripcion" class="form-control-sm form-control"
                  name="codigotrafo" formControlName='descripcion' rows="3"></textarea>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold" for="">Comentarios:</label>
                <textarea type="date" placeholder="Comentarios" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='comentarios' rows="3"></textarea>
              </div>
            </div>
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <button *ngIf="contador > 0" (click)="adddetallect()" class="btn btn-block btn-outline-info"><i
                class="fas fa-plus-circle    "></i> Añadir </button>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button data-dismiss="modal" class="btn btn-block btn-outline-secondary"><i
                class="fas fa-times-circle    "></i> Cancelar</button>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button data-dismiss="modal" *ngIf="contador===0" (click)="finalizarDetallesCT()"
              class="btn btn-block btn-outline-success"><i class="fas fa-save    "></i> Finalizar</button>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
