
<!-- Modal para edicion y visualizacion de las interrupciones -->
<div class="modal  animated bounceInLeft " id="dt_interrupcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable " role="document">
      <div class="modal-content">
        <div class="modal-header"  >




            <div class="container ">
                <div class="row">
                    <h3>
                      Periodo <span class="badge badge-pill text-white" style="background-color: #524373; ">{{interrupciondto.periodo}} - {{interrupciondto.correlativo}} </span>
                      <small style="margin-left: 25px" *ngIf="reclamo_asociado else noreclamo"  class="font-weight-normal">Reclamo asociado <span class="badge badge-pill badge-primary">{{reclamo_asociado.correlativo}}</span></small>
                      <ng-template #noreclamo><small style="margin-left: 25px" ><span class="badge badge-pill badge-info"> <i class="fas fa-info-circle    "></i> Interrupción generada desde SGT</span></small></ng-template>
                    </h3>
                </div>
                <div class="row" *ngIf="alertamaniobra"  >
                  <div class="alert alert-success " role="alert">
                   <img src="./assets/imagenes/notes.png" width="30" height="30" alt="">
                    <b>
                     Ya existe una maniobra asociada para esta interrupción
                    </b>
                  </div>
                </div>

                <div class="row" *ngIf="alertanomaniobra"  >
                  <div class="alert alert-warning " role="alert">
                   <img src="./assets/imagenes/question.png" width="30" height="30" alt="">
                    <b>
                     La interrupción no posee maniobra asociada
                    </b>
                  </div>
                </div>
              </div>

        </div>
        <div class="modal-body">
            <form [formGroup]="frm_interrupcion_edit" id="frm_edicion_interrupcion small">


                <h3 class="font-weight-bold"> Detalles de interrupción  </h3>
                <br>

                <div class="row">

                      <div class="col-md-2">
                          <div class="form-group">
                              <label for="">Fase:</label>
                              <select [(ngModel)]="interrupciondto.fase" formControlName="fase" type="text"   name="fase" class="form-control" id="" aria-describedby="emailHelp" >
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="AB">AB</option>
                                <option value="AC">AC</option>
                                <option value="BA">BA</option>
                                <option value="BC">BC</option>
                                <option value="ABC">ABC</option>
                              </select>
                          </div>
                          <div *ngIf="frm_interrupcion_edit.controls['fase'].errors?.required && frm_interrupcion_edit.controls['fase'].touched"  class="alert alert-danger small">
                            <i class="fas fa-exclamation-circle    "></i> Campo requerido
                          </div>
                      </div>

                      <div class="col-md-2">
                          <div class="form-group">
                              <label for="">Kwh UT:</label>
                              <input [(ngModel)]="interrupciondto.kwh_ut" type="text" formControlName="kwh_ut"  name="kw" class="form-control" id="" aria-describedby="emailHelp" >
                            </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Tipo interrupción:</label>
                            <select [(ngModel)]="interrupciondto.tipo_interrupcion"  formControlName="tipo_interrupcion"  name="tipointerrupcion" class="form-control" id="" aria-describedby="emailHelp" >
                              <option value="F">Forzada</option>
                              <option value="M">Maniobra</option>
                              <option value="P">Programada</option>
                            </select>
                          </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                          <label for="">Tipo sistema:</label>
                          <select type="text" [(ngModel)]="interrupciondto.tipo_sistema" formControlName="tipo_sistema" name="sistema" class="form-control" id="" aria-describedby="emailHelp" >
                            <option value="BT">BT</option>
                            <option value="AT">AT</option>
                            <option value="MT">MT</option>
                          </select>
                        </div>
                  </div>

                    <div class="col-md-2">
                      <div class="form-group">
                          <label for="">Acometida:</label>
                          <select formControlName="acometidad" (change)="changeacometida($event.target.value)" [(ngModel)]="interrupciondto.acometidad" name="acometidad" class="form-control" id=""  >
                            <option value="1">Si</option>
                            <option value="0">No</option>
                          </select>
                        </div>
                  </div>


                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Periodo:</label>
                            <input readonly="readonly" type="text" formControlName="periodo" [(ngModel)]="interrupciondto.periodo" name="periodo" class="form-control" id="" aria-describedby="emailHelp" >
                          </div>
                    </div>








                </div>


                <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Origen:</label>
                          <select [(ngModel)]="interrupciondto.origen_interrupcion" type="text" formControlName="origen_interrupcion" name="origen" class="form-control" id="" aria-describedby="emailHelp" >
                            <option value="E">Externa</option>
                            <option value="I">Interna</option>
                          </select>
                        </div>
                </div>

                  <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Causa:</label>
                        <select  id="causa_interrupcion" class="form-control"  >
                        <option value="{{interrupciondto.causa_interrupcion?.codigo_causa}}" selected>{{interrupciondto.causa_interrupcion?.codigo_causa}}  {{interrupciondto.causa_interrupcion?.descripcion_causa}}</option>
                          <option *ngFor="let causa of causas" value="{{causa.codigo_causa}}" >{{causa.descripcion_causa}}</option>
                        </select>
                      </div>
                    </div>



                    <div class="col-md-1">
                      <div class="form-group">
                          <label for="">Estado:</label>
                          <input readonly="readonly" type="text" formControlName="estado" [(ngModel)]="interrupciondto.estado" name="periodo" class="form-control" id="" aria-describedby="emailHelp" >
                        </div>
                  </div>


                  <div class="col-md-1">
                    <div class="form-group">
                        <label for="">Correlativo:</label>
                        <input readonly="readonly" type="text" formControlName="correlativo" [(ngModel)]="interrupciondto.correlativo" name="periodo" class="form-control" id="" aria-describedby="emailHelp" >
                      </div>
                </div>





                  <div class="col-md-2">
                    <div class="form-group">
                        <label class="" for="">División de red:</label>
                        <select class="form-control" name="divisionred" formControlName="codigo_dred" [(ngModel)]="interrupciondto.codigo_dred" required>
                          <option value="A">Alterada</option>
                          <option value="N">Normal</option>
                        </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                        <label class="" for="">Efecto:</label>
                        <select id="typeahead-basic"  class="form-control" formControlName="status"  name="status" [(ngModel)]="interrupciondto.status" >

                          <option value="E">Falta de Energia</option>
                          <option value="I">Problema Interno</option>
                          <option value="F">Fuerza Mayor</option>
                        </select>
                    </div>


                </div>




              </div>

              <div class="row">

                <div class="col-md-2">
                  <div class="form-group">
                      <label for="">Elemento:</label>
                      <input type="text" [(ngModel)]="interrupciondto.elemento" formControlName="elemento" name="elementoo" class="form-control" id="" aria-describedby="emailHelp" >
                    </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                      <label for="">Codigo Interrupción:</label>
                      <input readonly="readonly" type="text" [(ngModel)]="interrupciondto.codigo_interrupcion" formControlName="codigo_interrupcion" name="elementoo" class="form-control" id="" aria-describedby="emailHelp" >
                    </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                      <label for="">Codigo Reposición:</label>
                      <input readonly="readonly" type="text" [(ngModel)]="interrupciondto.codigo_reposicion" formControlName="codigo_reposicion" name="elementoo" class="form-control" id="" aria-describedby="emailHelp" >
                    </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                      <label for="">Suministro:</label>
                      <input type="text" formControlName="num_suministro" [(ngModel)]="interrupciondto.num_suministro" name="suministro" class="form-control" id="" aria-describedby="emailHelp" >
                    </div>
                </div>


                <div class="col-md-2">
                  <div class="form-group">
                      <label  for="">Calificación:</label>
                      <select formControlName="calificacion" [(ngModel)]="interrupciondto.calificacion"  class="form-control" name="calificacion"  required>
                        <option value="">...</option>
                        <option value="P">
                          Procede
                        </option>
                        <option value="N" >
                          No procede
                        </option>
                      </select>
                  </div>


              </div>

                <div class="col-md-2">
                  <div class="form-group">
                      <label for="">Atendio:</label>
                      <input readonly="readonly"  type="text" [(ngModel)]="interrupciondto.personal_atendio" formControlName="personal_atendio" name="personal" class="form-control" id="" aria-describedby="emailHelp" >
                    </div>
                </div>

              </div>



              <div class="row mt-2">

                <div style="border: solid 1px lightgray" class="col-md-5 bg-white shadow-sm ml-3" >
                  <div class="form-group">
                      <label class="font-weight-bold"   for="">Evento inicia:</label>
                      <div class="input-group  " >
                        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha_eventoinicia"  placeholder="dd/mm/yyyy" name="dp" #apertura="ngbDatepicker"  ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="apertura.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center" >
                        <div class="col col-md-6"><ngb-timepicker size="small" [(ngModel)]="hora_eventoinicia" [ngModelOptions]="{standalone: true}"  name="hora" ></ngb-timepicker></div>
                      </div>
                  </div>
              </div>




              <div style="border: solid 1px lightgray" class="col-md-5 bg-white shadow-sm ml-3" >
                <div class="form-group">
                    <label class="font-weight-bold"   for="">Evento finaliza:</label>
                    <div class="input-group  " >
                      <input class="form-control" [(ngModel)]="fecha_eventofinaliza" [ngModelOptions]="{standalone: true}"  placeholder="dd/mm/yyyy" name="dp" #cierre="ngbDatepicker"  ngbDatepicker >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary " (click)="cierre.toggle()" type="button">
                          <i class="fas fa-calendar-alt    "></i>
                        </button>
                      </div>
                    </div>

                    <div class="row justify-content-md-center" >
                      <div class="col col-md-6"><ngb-timepicker size="small" [ngModelOptions]="{standalone: true}" [(ngModel)]="hora_eventofinaliza"  name="hora" ></ngb-timepicker></div>
                    </div>
                </div>
            </div>


              </div>

              <div class="row mt-3">



                <div class="col-md-8">
                  <div class="form-group">
                      <label for="">Motivo reportado:</label>
                      <textarea cols="8" rows="3" [(ngModel)]="interrupciondto.motivo_reportado" formControlName="motivo_reportado" name="motivoreportado" class="form-control" id=""></textarea>
                    </div>
                </div>


              </div>



              <div class="dropdown-divider"></div>







                <div class="row" *ngIf="maniobrasXseleccionar"  >
                    <div class="col-md-12 small pt-3 pb-3" style="background-color:rgb(255, 255, 255)">
                        <h3 style="color:#024873" ><img class="img-fluid" src="./assets/imagenes/itinerario.png" width="40" height="40" alt=""> Itinerario de maniobras</h3>
                        <table class="table mt-3  table-light table-bordered table-hover table-sm" id="tbl_maniobras">
                            <thead class="" style="background-color:#024873; color:whitesmoke">
                              <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Red modificada</th>
                                <th class="text-center">Fecha de ingreso</th>
                                <th class="text-center">Evento inicia</th>
                                <th class="text-center">Evento finaliza</th>
                                <th class="text-center">Operador Responsable</th>
                                <th class="text-center">Interrupción</th>
                                <th class="text-center">Causa</th>
                                <th class="text-center"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let maniobra of maniobradto_arr" >
                                <td  class="text-center">{{maniobra.id}}</td>
                                <td  class="text-center">{{maniobra.red_modificada}}</td>
                                <td  class="text-center">{{maniobra.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</td>
                                <td  class="text-center">{{maniobra.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</td>
                                <td  class="text-center">{{maniobra.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</td>
                                <td  class="text-center">{{maniobra.usuario.nombre}} {{maniobra.usuario.apellido}}</td>
                                <td  class="text-center" >{{maniobra.tipo_interrupcion}}</td>
                                <td >{{maniobra.causa.descripcion_causa}}</td>
                                <td >
                                    <div class="btn-group" role="group" aria-label="Basic example">

                                        <button class="btn btn-sm btn-secondary" id="btn_verdetallemaniobra" (click)="verDetalleManiobra(maniobra)"  data-toggle="modal" data-target="#dt_maniobras_modal_1">
                                          <i class="fas fa-eye    "></i> ver
                                        </button>
                                    </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                </div>


                    <div class="row mt-4" *ngIf="div_maniobrasseleccionadas" >
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header text-center" style="background-color:#E3F46F">
                              <img class="img-fluid" src="./assets/imagenes/itinerario.png" width="40" height="40">  Maniobras seleccionadas
                            </div>
                            <div class="card-body">
                              <table class="table small table-bordered table-hover">
                                <thead >
                                  <tr>

                                    <th style="background-color:#024873; border:1px grey solid" class="text-center text-white">Hora apertura</th>
                                    <th style="background-color:#024873; border:1px grey solid" class="text-center text-white">Elemento aperturado</th>
                                    <th style="background-color:#024873; border:1px grey solid" class="text-center text-white">Fase afectada</th>
                                    <th style="background-color:#024873; border:1px grey solid" class="text-center text-white">Hora cierre</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let detalle of detalleitinerario_tbl" >
                                    <td class="text-center">{{detalle.hora_apertura | date:'dd/M/yyyy h:mm'}}</td>
                                    <td class="text-center">{{detalle.elemento_aperturado}}</td>
                                    <td class="text-center">{{detalle.fase_afectada}}</td>
                                    <td class="text-center">{{detalle.hora_cierre | date:'dd/M/yyyy h:mm'}}</td>

                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>




                </form>

        </div>
        <div class="modal-footer">
          <button (click)="finalizarInterrupcion()" type="submit" class="btn btn-outline-warning"><i class="fas fa-arrow-right    "></i> Finalizar</button>
          <button   type="submit" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar</button>
          <button *ngIf="interrupciondto.estado=='G'" (click)="guardarEdicion()"  data-dismiss="modal" type="submit" class="btn btn-success"><i class="far fa-save"></i> Guardar Edición</button>
        </div>
      </div>
    </div>
</div>







  <!-- DETALLE DE MANIOBRA MODAL -->

  <div id="dt_maniobras_modal_1" class="modal fade " tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header text-dark " style="background-color:#3F61A6" >
            <div class="modal-title text-white">
              <h5><i class="fab fa-connectdevelop" id="move"></i><b class="ml-2"> Maniobra N° {{maniobradto.id}}</b>
                <span *ngIf="maniobradto.estado==2"  class="badge badge-light mr-4">La maniobra se encuentra validada</span>
              </h5>

            </div>
          </div>
          <div class="modal-body ">
              <div class="row" >

                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header bg-white small" >
                        <dl class="row" >
                          <div class="col-md-3">
                            <dt class="col-sm-12">Red Modificada:</dt>
                            <dd class="col-sm-9">{{maniobradto.red_modificada}}</dd>
                          </div>

                          <div class="col-md-3">
                            <dt class="col-sm-12">Fecha ingreso:</dt>
                            <dd class="col-sm-9">{{maniobradto.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</dd>
                          </div>

                          <div class="col-md-3">
                            <dt class="col-sm-12">Evento inicia:</dt>
                            <dd class="col-sm-9">{{maniobradto.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</dd>
                          </div>

                          <div class="col-md-3">
                            <dt class="col-sm-12">Evento cierra:</dt>
                            <dd class="col-sm-9">{{maniobradto.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</dd>
                          </div>


                        </dl>

                        <dl class="row">
                          <div class="col-md-3">
                            <dt class="col-sm-12">Operador responsable:</dt>
                            <dd class="col-sm-9">{{maniobradto.usuario?.nombre}} {{maniobradto.usuario?.apellido}}</dd>
                          </div>

                          <div class="col-md-3">
                            <dt class="col-sm-12">Tipo de interupción:</dt>
                            <dd class="col-sm-9">{{maniobradto.tipo_interrupcion}}</dd>
                          </div>

                          <div class="col-md-3">
                            <dt class="col-sm-12">Causa Interrupción:</dt>
                            <dd class="col-sm-12">{{maniobradto.causa?.descripcion_causa}}</dd>
                          </div>
                        </dl>
                      </div>

                      <!-- TABLA DE DETALLES DE MANIOBRA -->

                      <div class="card-body">
                          <table class="table small">
                              <thead style="background-color:#001747; color:white">
                                <tr>

                                  <th style="border:solid black 1px" class="text-center">Hora apertura</th>
                                  <th style="border:solid black 1px" class="text-center">Elemento Aperturado</th>
                                  <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                                  <th style="border:solid black 1px" class="text-center">Hora cierre</th>
                                  <th style="border:solid black 1px" class="text-center">Elemento cierre</th>
                                  <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                                  <th style="border:solid black 1px" class="text-center">Seleccionar</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr id="{{detallemaniobra.id}}" class="colormaniobra" *ngFor="let detallemaniobra of maniobradto.detallesmaniobra; let i=index" >
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_apertura | date:'dd/M/yyyy H:mm'}}</td>
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_aperturado}}</td>
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada}}</td>
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_cierre | date:'dd/M/yyyy H:mm'}}</td>
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_cierre}}</td>
                                      <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada_cierre}}</td>
                                      <td  style="border: solid 1px black">
                                        <button id="seleccionar{{detallemaniobra.id}}"  (click)="maniobraSeleccionada(detallemaniobra.id, detallemaniobra,i)" class="btn btn-outline-primary btn-block"><i class="fas fa-hand-paper"></i></button>
                                        <button id="deseleccionar{{detallemaniobra.id}}"  (click)="deseleccionarManiobra(detallemaniobra.id, detallemaniobra,i)" class="btn btn-outline-danger btn-block d-none"><i class="fas fa-times-circle"></i></button>
                                      </td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>

                        <div class="card-body">
                          <button id="" (click)="setManiobras()"  data-dismiss="modal" class="btn btn-block btn-outline-success"><i class="fas fa-save    "></i> Finalizar</button>
                          <button data-dismiss="modal" class="btn btn-block btn-outline-danger"><i class="fas fa-times-circle    "></i> Cerrar</button>
                        </div>

                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>
