<div class="card-body">
  <h4 style="color: rgb(86, 52, 117)">Listado <span class="badge badge-secondary text-white"> Sistema de calidad</span>
  </h4>

  <table id="tbl_casos" class="table table-light table-hover small mt-3">
    <thead>
      <tr>
        <th class="text-center">N° caso</th>
        <th class="text-center">Interrupcion</th>
        <th class="text-center">Fecha interrupcion</th>
        <th class="text-center">Circuito afectado</th>
        <th class="text-center">Duracion</th>
        <th class="text-center">Usuarios afectados</th>
        <th class="text-center">Causa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of casos">
        <td class="text-center">{{c.num_caso}}</td>
        <td class="text-center">{{c.interrupcion}}</td>
        <td class="text-center">{{c.fecha_interrupcion | date: 'dd/M/yyyy h:mm'}}</td>
        <td class="text-center">{{c.circuito_afectado}}</td>
        <td class="text-center">{{c.duracion}}</td>
        <td class="text-center">{{c.usuarios_afectados}}</td>
        <td class="text-center">{{c.codigo_causa}}</td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="Button group">
            <button (click)="urlParse(c.expediente_nombre)" data-target="#modalpdf" data-toggle="modal" placement="top"
              class="btn btn-sm btn-primary">
              <i class="fas fa-bullseye"></i>
            </button>
            <button placement="top" ngbTooltip="Editar" class="btn btn-sm btn-warning"><i class="fas fa-edit    "
                (click)="set(c)"></i></button>


          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- EDIT FORM -->
<form action="" [formGroup]="frm_fm">
  <div class="card" style="background-color: rgb(212, 211, 211);">
    <h3 style="margin-left: 10px; margin-top: 5px;">Formulario de Edicion para caso FM</h3>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">


      <div class="btn-group" role="group" style="margin-left: 10px;">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
          aria-expanded="false">
          PDF'S de pruebas aportadas
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_fotografias)" class="dropdown-item"
            href="#">Fotografias</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_acta_notarial)"
            class="dropdown-item" href="#">Acta Notarial</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_test_personal)"
            class="dropdown-item" href="#">Testimonio personal</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_policial)" class="dropdown-item"
            href="#">Doc. expedida policial</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_fiscalia)" class="dropdown-item"
            href="#">Doc. expedida fiscalia</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_otros)" class="dropdown-item"
            href="#">Otro tipo de prueba</a>
          <a data-target="#modalpdf" data-toggle="modal" (click)="urlParse(caso.doc_fomilenio)" class="dropdown-item"
            href="#">Otro tipo de prueba</a>
        </div>
      </div>


    </div>



    <div class="card-body" style="margin-top: 30px">
      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Datos
          identificatorios</span>
      </h4>
      <div class="row">
        <div class="col-md-3">

          <div class="form-group">
            <label class="font-weight-bold" for="">Caso N°:</label>
            <input placeholder="Numero de caso" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='num_caso'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="input-group" style="margin-top: 27px;">
            <input formControlName="interrupcion" type="text" class="form-control " placeholder="Interrupcion"
              aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">

            </div>
          </div>
          <!-- <div class="form-group">
            <label class="font-weight-bold" for="">Interrupcion:</label>
            <input placeholder="Interrupcion" type="
            text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='interrupcion'>
          </div> -->

        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fecha de inicio:</label>
            <input readonly placeholder="Inicio" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fecha_interrupcion'>
          </div>

        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fecha fin:</label>
            <input readonly placeholder="Fin" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fecha_interrupcion_fin'>
          </div>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Circuito afectado:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='circuito_afectado'>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Cantidad de usuarios afectados:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='usuarios_afectados'>
          </div>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Duracion:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='duracion'>
          </div>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Causa:</label>
            <input type="text" readonly formControlName="codigo_causa" class="form-control-sm form-control" name=""
              id="">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="">Resolucion SIGET:</label>
            <select class="form-control-sm form-control" formControlName="resolucion_siget" name="" id="">
              <option value="A">Aprobado</option>
              <option value="N">No Aprobado</option>
              <option value="P">Pendiente</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">N° Expediente:</label>E
            <input type="text" formControlName="expediente_siget" class="form-control-sm form-control" name="" id="">
          </div>
        </div>




      </div>



      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label for="">Detalle:</label>
            <textarea name="" class="form-control" formControlName="detalle" id="" cols="30" rows="5"></textarea>
          </div>


        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Descripcion:</label>
            <textarea class="form-control" name="" formControlName="descripcion" id="" cols="30" rows="5"></textarea>
          </div>


        </div>
      </div>

      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Documentos para adjuntar
          (Conglomerado en PDF para cada prueba aportada)
        </span>
      </h4>
      <div class="row">


        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Expediente:</label>
            <input type="file" (change)="fileChangeEvent($event)" class="form-control-sm form-control" name=""
              id="expediente_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Fotografias:</label>
            <input type="file" (change)="fileChangeEventFotografias($event)" class="form-control-sm form-control"
              name="" id="fotografias_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Test. Personal:</label>
            <input type="file" (change)="fileChangeEventTestPersonal($event)" class="form-control-sm form-control"
              name="" id="personal_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Doc. policial:</label>
            <input type="file" (change)="fileChangeEventPolicial($event)" class="form-control-sm form-control" name=""
              id="policial_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Doc. fiscalia:</label>
            <input type="file" (change)="fileChangeEventFiscalia($event)" class="form-control-sm form-control" name=""
              id="fiscalia_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Otras pruebas:</label>
            <input type="file" (change)="fileChangeEventOtros($event)" class="form-control-sm form-control" name=""
              id="otros_input">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="">Adjuntar Fomilenio:</label>
            <input type="file" (change)="fileChangeEventFomilenio($event)" class="form-control-sm form-control" name=""
              id="fomilenio_input">
          </div>
        </div>

      </div>

      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Pruebas aportadas
        </span>
      </h4>
      <div class="row" style="margin-left: 20px;">
        <div class="form-check form-check-inline">
          <input formControlName="fotografias" class="form-check-input" type="checkbox" id="inlineCheckbox1"
            value="true">
          <label class="form-check-label" for="inlineCheckbox1">Fotografias</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="acta_notarial" class="form-check-input" type="checkbox" id="inlineCheckbox2"
            value="true">
          <label class="form-check-label" for="inlineCheckbox2">Acta notarial</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="form_testimonio_personal" class="form-check-input" type="checkbox"
            id="inlineCheckbox3" value="true">
          <label class="form-check-label" for="inlineCheckbox3">Testimonio de personal </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="doc_expedida_policial" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Doc expedida por policia </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="doc_expedida_fiscalia" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Doc expedida por
            fiscalia </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="otro_prueba" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Otro tipo de prueba </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="fomilenio" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true">
          <label class="form-check-label" for="inlineCheckbox3">Fomilenio </label>
        </div>
      </div>

      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> SIGET
        </span>
      </h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Resultado:</label>
            <textarea class="form-control" name="" formControlName="resultado" id="" cols="30" rows="5"></textarea>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Comentarios:</label>
            <textarea class="form-control" name="" formControlName="comentarios" id="" cols="30" rows="5"></textarea>
          </div>


        </div>
      </div>


      <div class="row">
        <div class="col-md-12" style="margin-top: 50px;">
          <div class="form-group">
            <button type="button" (click)="update()" name="" id="" class="btn btn-success btn-block">Guardar
              Edicion</button>
          </div>
        </div>
      </div>

    </div>


  </div>
</form>





<!-- MODAL VIEWER -->
<div id="modalpdf" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <iframe width="100%" height="450px" [src]="adjuntover"></iframe>
    </div>
  </div>
</div>
