

<div class="card ">
  <div class="card-header">

    <h4 style="display: block;" class="h3 mb-0" style="color: grey;">
      <img src="./assets/imagenes/woman.png" width="30" height="30" alt="">
       <img src="./assets/imagenes/man.png" width="30" height="30" alt="">
      Usuarios</h4>
      <a [routerLink]="['/usuario-create']" class="btn btn-outline-primary float-right"><i class="fas fa-plus    "></i> Nuevo usuario</a>
  </div>
  <div class="card-body">
    <table id="tbl_usuarios" class="table table-light small">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Alias</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of us" >
          <td>{{u.id}}</td>
          <td>{{u.nombre}}</td>
          <td>{{u.apellido}}</td>
          <td>{{u.alias}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Button group">
              <button class="btn btn-sm btn-info"><i class="fas fa-edit    "></i></button>
              <button class="btn btn-sm btn-secondary"><i class="fas fa-eye    "></i></button>
              <button class="btn btn-sm btn-danger"><i class="fas fa-trash    "></i></button>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
