<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 mt-4 ">
  <div class="card-header m-0  text-black-50" style="background-color: #7986cb;color:white;">
    <h3 class="h3 mb-0" style="color: white;"><img src="./assets/imagenes/transformador.png" width="40" height="40"
        alt="">
      Centros de transformación</h3>
  </div>

  <ul class="nav nav-pills mb-3" style="background-color: #F2F2F2;" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link font-weight-bold " id="pills-home-tab" data-toggle="pill" href="#transformadores" role="tab"
        aria-controls="pills-home" aria-selected="true"> <i class="fas fa-diagnoses"></i> Listado (Sistema de
        Calidad)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold active" id="pills-profile-tab" data-toggle="pill" href="#formtrafo" role="tab"
        aria-controls="pills-profile" aria-selected="false"><i class="fas fa-folder-open    "></i> Nuevo elemento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold" id="pills-contact-tab" data-toggle="pill" href="#reportes" role="tab"
        aria-controls="pills-contact" aria-selected="false"> <i class="fas fa-chart-bar    "></i> Reportes</a>
    </li>
  </ul>


  <div class="tab-content" id="pills-tabContent">

    <!--Transformadores-->
    <div class="tab-pane  fadeInUp  pt-3" id="transformadores" role="tabpanel" aria-labelledby="pills-home-tab">
      <div *ngIf="(vm$ | async) as vm ">
        <app-trafo-list [transformadores]=vm.state></app-trafo-list>
      </div>
    </div>


    <!-- Nuevo elemento -->
    <div class="tab-pane  fadeInUp fade show active  pt-3" id="formtrafo" role="tabpanel"
      aria-labelledby="pills-home-tab">
      <app-trafo-create></app-trafo-create>
    </div>


    <!-- Reportes -->
    <div class="tab-pane  fadeInUp  pt-3" id="reportes" role="tabpanel" aria-labelledby="pills-home-tab">
      <h4 style="color: rgb(44, 42, 41)">Reportes <span class="badge badge-secondary text-white"> Transformadores</span>
      </h4>

    </div>

  </div>

</div>
