<div class="card">

  <div class="card-body">
    <h4 style="color: rgb(86, 52, 117)">Listado <span class="badge badge-secondary text-white"> Sistema de
        calidad</span></h4>

    <table id="" class="table table-light table-hover small mt-3">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Codigo trafo</th>
          <th class="text-center">Kva</th>
          <th class="text-center">Fecha instalación</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transformadores">
          <td class="text-center">{{t.sec_trafo}}</td>
          <ng-container *ngIf="t.bandera_activo==='1'; else inactivo">
            <td class="text-center"><span class="badge badge-success">Activo</span></td>
          </ng-container>

          <ng-template #inactivo>
            <td class="text-center"><span class="badge badge-danger">Inactivo</span></td>
          </ng-template>


          <td class="text-center">{{t.codigo_trafo}}</td>
          <td class="text-center">{{t.kva}}</td>
          <td class="text-center">{{t.fecha_instalacion | date: 'dd/M/yyyy'}}</td>
          <td class="text-center">
            <div class="btn-group" role="group" aria-label="Button group">
              <button *ngIf="t.bandera_activo === '1'" placement="top" ngbTooltip="Editar" (click)="editTrafo(t)"
                class="btn btn-sm btn-warning"><i class="fas fa-edit    "></i></button>
              <button placement="top" ngbTooltip="Detalles" (click)="viewInfoTrafo(t)" data-toggle="modal"
                data-target="#trafoedit" class="btn btn-sm btn-info"><i class="fas fa-eye    "></i></button>
              <ng-container *ngIf="t.bandera_activo==='1'; else historico">
                <button placement="right" ngbTooltip="Baja de trafo" (click)="bajaTrafo(t)" data-target="#procesobaja"
                  data-toggle="modal" class="btn btn-sm btn-danger"><i class="fas fa-download    "></i></button>

              </ng-container>
              <ng-template #historico>
                <button placement="top" ngbTooltip="Historico de baja" class="btn btn-sm btn-dark"><i
                    class="fas fa-file    "></i></button>
              </ng-template>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body" *ngIf="edicion">
    <h4 style="color: rgb(86, 52, 117);"><i class="fas fa-edit    "></i> Edición de transformador</h4>
    <form [formGroup]='frm_trafoedit' class="small">
      <div class="card">
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="font-weight-bold" for="">Codigo de Trafo:</label>
                <input style="font-weight: bold; background-color: lightgreen;" readonly="readonly" placeholder="Codigo de trafo"  type="text" class="form-control-sm form-control" name="sec_trafo" formControlName='sec_trafo' >
              </div>

          </div>
          </div> -->
          <div class="row mt-3">
            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Codigo de Trafo:</label>
                <input id="cortepadre" mask="T-00000" placeholder="Codigo de trafo" type="text"
                  class="form-control-sm form-control" name="codigotrafo" formControlName='codigo_trafo'>
              </div>
              <div class="alert alert-danger small"
                *ngIf="frm_trafoedit.controls['codigo_trafo'].errors?.required && frm_trafoedit.controls['codigo_trafo'].touched">
                <i class="fas fa-exclamation-circle    "></i> Campo requerido!
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Corte Padre:</label>
                <ng-select [items]="cortes" bindLabel="codigo_corte" bindValue="sec_corte" labelForId="state"
                  placeholder="Corte padre" clearAllText="Clear" formControlName="corte">
                </ng-select>
              </div>

            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Poste:</label>
                <input id="typeahead-basic" [ngbTypeahead]="busqueda_elempostes" placeholder="Poste" type="text"
                  class="form-control-sm form-control" name="codigotrafo" formControlName='id_pos'>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Circuito:</label>
                <select placeholder="Circuito" type="text" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='sec_circuito'>
                  <option value="">...</option>
                  <option *ngFor="let c of circuitos" value="{{c.sec_circuito}}">{{c.codigo_circuito}}</option>
                </select>
              </div>
            </div>



            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Fase:</label>
                <select placeholder="Fase" type="text" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='fase'>
                  <option value="">...</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="AB">AB</option>
                  <option value="AC">AC</option>
                  <option value="BA">BA</option>
                  <option value="BC">BC</option>
                  <option value="ABC">ABC</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Fecha instalación:</label>
                <input type="date" placeholder="Fecha" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='fecha_instalacion'>
              </div>
            </div>



          </div>

          <div class="row">


            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Marca:</label>
                <input placeholder="Marca" type="text" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='marca'>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Calibre:</label>
                <input placeholder="Calibre" type="number" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='calibre_fusible'>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Area tendido:</label>
                <select placeholder="" type="text" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='area_tendido'>
                  <option value=""></option>
                  <option value="U">Urbano</option>
                  <option value="R">Rural</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Propiedad:</label>
                <select placeholder="Propiedad" type="text" class="form-control-sm form-control" name="propiedad"
                  formControlName='propiedad'>
                  <option value="">...</option>
                  <option value="D">Distribuidora</option>
                  <option value="T">Tercero</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Material Estructura:</label>
                <ng-select [items]="elementos_material" bindLabel="cod_mat_est" bindValue="cod_mat_est"
                  placeholder="Material" clearAllText="Clear" formControlName="cod_material">
                </ng-select>
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">KVA:</label>
                <input placeholder="kVA" type="number" class="form-control-sm form-control" name="codigotrafo"
                  formControlName='kva'>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Voltaje primario:</label>
                <select placeholder="" class="form-control-sm form-control" name="cod_material"
                  formControlName='cod_voltaje_p'>
                  <option value="">...</option>
                  <option *ngFor="let v of voltajes" value="{{v.cod_voltaje}}">{{v.nom_voltaje}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Voltaje secundario:</label>
                <select placeholder="" class="form-control-sm form-control" name="cod_material"
                  formControlName='cod_voltaje_s'>
                  <option value="">...</option>
                  <option *ngFor="let v of voltajes" value="{{v.cod_voltaje}}">{{v.nom_voltaje}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="font-weight-bold" for="">Conductores:</label>
                <input placeholder="Conductores" type="number" class="form-control-sm form-control" name="cod_material"
                  formControlName='conductores'>
              </div>
            </div>


          </div>





          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="font-weight-bold" for="">Descripción:</label>
                <textarea formControlName="DESCRIPCION_TRAFO" class="form-control-sm form-control" name="desc"
                  formControlName="descripcion_trafo" id="" cols="15" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" (click)="update()" class="btn btn-outline-success btn-block"><i
                  class="fas fa-save    "></i> Guardar Edicion</button>
              <button class="btn btn-block btn-outline-secondary"><i class="fas fa-times-circle    "></i>
                Cancelar</button>
            </div>
          </div>
        </div>
      </div>


    </form>

  </div>
</div>






<!-- MODAL DE VISUALIZACION DE DETALLES DE TRAFO -->

<div id="trafoedit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5><img src="./assets/imagenes/transformador.png" width="25" height="25" alt=""> Detalles de transformador</h5>
      </div>
      <div class="modal-body">
        <app-trafo-details [transformador_view]="transformador_view" [circuito]="circuito" [corte]="corte"
          [poste]="poste">
        </app-trafo-details>
      </div>
    </div>
  </div>
</div>


<!-- MODAL PARA LA BAJA DE UN TRAFO -->
<div id="procesobaja" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5><img src="./assets/imagenes/off.png" width="25" height="25" alt=""> Proceso de baja </h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="elementossuministro.length > 0; else bajapermitida">
          <div class="alert alert-warning" role="alert">
            <i class="fas fa-info-circle    "></i> El trafo seleccionado contiene suministros activos actualmente
          </div>
          <table id="tablasuministros" class="table table-light small">
            <thead class="thead-light ">
              <tr>
                <th>Suministro</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of elementossuministro">
                <td>{{s}}</td>
              </tr>
            </tbody>

          </table>
        </ng-container>
        <ng-template #bajapermitida>
          <form [formGroup]="frm_bajatrafo">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="font-weight-bold" for="">Comentario de baja:</label>
                  <textarea formControlName="comentario_baja" class="form-control-sm form-control" name="desc" id=""
                    cols="15" rows="3"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="font-weight-bold" for="">Fecha de baja:</label>
                  <input type="date" placeholder="Fecha" class="form-control-sm form-control" name="codigotrafo"
                    formControlName='fecha_baja'>
                </div>
              </div>

            </div>
          </form>
        </ng-template>


      </div>
      <div class="modal-footer" *ngIf="elementossuministro.length <= 0">
        <button (click)="finalizarbaja()" class="btn btn-outline-success btn-block">Procesar baja</button>
      </div>
    </div>
  </div>
</div>
