.login,
.image {
  min-height: 95vh;
}

.bg-image {
  background-image: url('../../../assets/imagenes/distribucion.JPG');
  background-size: cover;
  background-position: center center;
}


.bg-image1 {
  background-image: url('../../../assets/imagenes/fondologin.JPG');
  background-size: contain;
  background-position: center center;
}
