
<div class="content-fluid">
  <div class="row no-gutter fadeIn ">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light bg-image1 " >
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4"> <small>SGT</small></h3>
                          <p class="text-muted mb-4">Sistema de Gestión Tecnica</p>
                          <form #loginForm="ngForm" (ngSubmit)="onClickSubmit(usuariodto)">
                              <div class="form-group mb-3">
                                  <input #alias="ngModel" autocomplete="off" placeholder="Usuario" required id="alias"  name="alias" [(ngModel)]="usuariodto.alias" class="form-control rounded-pill text-primary ">
                              </div>
                            <div [hidden]="alias.valid || alias.pristine" class="alert alert-danger rounded-pill">
                               <i class="fas fa-exclamation-circle"></i> Alias es requerido
                            </div>
                              <div class="form-group mb-3">
                                  <input #password="ngModel" id="password" autocomplete="off" type="password" placeholder="Contraseña" required name="password" [(ngModel)]="usuariodto.password" class="form-control rounded-pill  text-primary ">
                              </div>
                             <div [hidden]="password.valid || password.pristine" class="alert alert-danger rounded-pill">
                              <i class="fas fa-exclamation-circle"></i> Password es requerido
                            </div>

                              <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm">Iniciar Sesión</button>
                              <div class="text-center d-flex justify-content-between mt-4">
                              </div>
                          </form>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->

  </div>




</div>


