<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 animated slideInRight mt-4">
  <div class="card-header m-0  text-black-50" style="background-color: #36041f ;color:white;">

    <h3 class="text-white"> <img src="./assets/imagenes/siget1.png" alt=""> Tablas <span class="badge badge-secondary">
        SIGET</span></h3>
  </div>
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-md-3 small" style=" height: 300px; overflow-y: scroll; ">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action bg-secondary text-white">
              SELECCIONE UNA OPCIÓN
            </button>
            <a style="border: solid 1px  gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-home-tab"
              data-toggle="pill" href="#interrupcionessiget" role="tab" aria-controls="v-pills-home"
              aria-selected="true"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> INTERRUPCIONES </a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-profile-tab"
              data-toggle="pill" href="#reposicionessiget" role="tab" aria-controls="v-pills-profile"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> REPOSICIONES</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-messages-tab"
              data-toggle="pill" href="#externas" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> EXTERNAS</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#centrosmtbt" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> CENTROS_MTBT</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#repusuarios" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> REP_USUARIOS</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#reclamosinterr" role="tab" aria-controls="v-pills-settings"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> RECLAMOS_INTERR</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#datoscentro" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> DATOS_CENTRO</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#instalaciones" role="tab" aria-controls="v-pills-settings"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> INSTALACIONES</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#compensaciones" role="tab" aria-controls="v-pills-settings"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> COMPENSACIONES</a>

            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#areausuario" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> AREA USUARIO</a>

            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#facturacion" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> FACTURACION</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#comunidades" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> COMUNIDADES</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#cargoenergia" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt=""> CARGO ENERGIA</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> USUARIO_COMERCIALIZADOR</a>
            <a style="border: solid 1px gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-settings-tab"
              data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
              aria-selected="false"> <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30"
                alt=""> NOMBRE_COMERCIALIZADOR</a>
          </div>
        </div>




        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">

            <!-- FACTURACION SIGET FORMULARIO -->
            <div class="tab-pane animated bounceInRight   bg-white " id="facturacion" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Facturacion SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaFacturacionSIGET()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>


            <!-- CARGO ENERGIA  -->
            <div class="tab-pane animated bounceInRight   bg-white " id="cargoenergia" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Cargo Energia SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaCargoEnergia()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>




            <!-- AREA USUARIO -->
            <div class="tab-pane animated bounceInRight   bg-white " id="areausuario" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Area Usuario SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaAreaUsuario()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>






            <!-- COMUNIDADES -->
            <div class="tab-pane animated bounceInRight   bg-white " id="comunidades" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Comunidades SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaComunidades()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>

            <!-- INTERRUPCIONES FORMULARIO -->
            <div class="tab-pane animated bounceInRight   bg-white " id="interrupcionessiget" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Interrupciones SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaInterrupcionesSIGET()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>

            <!-- REPOSICIONES FORMULARIO -->
            <div class="tab-pane animated bounceInRight " id="reposicionessiget" role="tabpanel"
              aria-labelledby="v-pills-profile-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Reposiciones SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarTablaReposiciones()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>

            <!-- INTERRUPCIONES EXTERNAS FORMULARIO -->
            <div class="tab-pane animated bounceInRight " id="externas" role="tabpanel"
              aria-labelledby="v-pills-messages-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">Externas SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_interrupcionessiget.invalid"
                        (click)="generarTablaInterrupcionesExternas()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i> Generar tabla
                      </button>

                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- CENTROS MTBT FORMULARIO -->
            <div class="tab-pane animated bounceInRight " id="centrosmtbt" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">CENTROS MT-BT SIGET</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarCentrosMTBT()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i> Generar tabla
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- REP USUARIOS -->
            <div class="tab-pane animated bounceInRight " id="repusuarios" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">REP_USUARIOS</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarRepUsuarios()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i> Generar tabla
                      </button>
                    </div>
                  </div>
                </div>


              </form>
            </div>


            <!-- RECLAMOS INTERR -->
            <div class="tab-pane animated bounceInRight " id="reclamosinterr" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">RECLAMOS_INTERR</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarReclamosInterr()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>
                    </div>
                  </div>
                </div>


              </form>
            </div>

            <!-- DATOS CENTRO -->
            <div class="tab-pane animated bounceInRight " id="datoscentro" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">DATOS_CENTROS</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarDatosCentro()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i> Generar tabla
                      </button>
                    </div>
                  </div>
                </div>


              </form>
            </div>


            <!-- INSTALACIONES -->
            <div class="tab-pane animated bounceInRight " id="instalaciones" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">INSTALACIONES</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarInstalaciones()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>
                    </div>
                  </div>
                </div>


              </form>
            </div>



            <!-- COMPENSACIONES -->
            <div class="tab-pane animated bounceInRight " id="compensaciones" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <form [formGroup]="frm_interrupcionessiget">
                <h4>Formulario <span class="badge badge-secondary">COMPENSACIONES</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>
                    <div
                      *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                      class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Requerido
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div *ngIf="" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <button [disabled]="frm_interrupcionessiget.invalid" (click)="generarCompensaciones()"
                        type="button" class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>
                    </div>
                  </div>
                </div>


              </form>
            </div>


          </div>
        </div>
      </div>


      <!-- DIV PARA MOSTRAR LA TABLA FACTURACION SIGET -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablacomunidades">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_comunidades">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9; border: solid 1px black;" class="text-white">
                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='comunidades')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='comunidades')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDEmpresa</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Periodo</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDUsuario</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDCentro</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of comunidades">
                <td class="text-center">{{item.IDEmpresa}}</td>
                <td class="text-center">{{item.Periodo}}</td>
                <td class="text-center">{{item.IDUsuario}}</td>
                <td class="text-center">{{item.IDCentro}}</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- DIV PARA MOSTRAR TABLA FACTURACION SIGET -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablafacturacionsiget">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_facturacionsiget">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9; border: solid 1px black;" class="text-white">
                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='facturacion')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='facturacion')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDUsuario</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Energia</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  MontoFacturado</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  MontoProm3UF</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of facturacion">
                <td class="text-center">{{item.IDUsuario}}</td>
                <td class="text-center">{{item.Energia}}</td>
                <td class="text-center">{{item.MontoFacturado}}</td>
                <td class="text-center">{{item.MontoProm3UF}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>




      <!-- DIV PARA MOSTRAR LAS INTERRUPCIONES SIGET  -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablainterrupciones">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_interrupcionessiget">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9; border: solid 1px black;" class="text-white">
                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='interrupciones')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='interrupciones')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDInter</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Sistema</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">Origen
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">Tipo
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  FechaIn</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  DiviRed</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">IDelem
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  TipoElem</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">SSEE
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Circuito</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of interrupciones">
                <td class="text-center">{{i.IDInter}}</td>
                <td class="text-center">{{i.Sistema}}</td>
                <td class="text-center">{{i.Origen}}</td>
                <td class="text-center">{{i.Tipo}}</td>
                <td class="text-center">{{i.FechaIn}}</td>
                <td class="text-center">{{i.DiviRed}}</td>
                <td class="text-center">{{i.IDelem}}</td>
                <td class="text-center">{{i.TipoElem}}</td>
                <td class="text-center">{{i.SSEE}}</td>
                <td class="text-center">{{i.Circuito}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LAS REPOSICIONES SIGET -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablareposiciones">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_reposiciones">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='reposiciones')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='reposiciones')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IDInter</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IDRepos</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">FechaRp</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IDElem</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">TipoElem
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">SSEE</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">Circuito
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of reposiciones">
                <td class="text-center">{{r.IDInter}}</td>
                <td class="text-center">{{r.IDRepos}}</td>
                <td class="text-center">{{r.FechaRp}}</td>
                <td class="text-center">{{r.IDElem}}</td>
                <td class="text-center">{{r.TipoElem}}</td>
                <td class="text-center">{{r.SSEE}}</td>
                <td class="text-center">{{r.Circuito}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- DIV PARA MOSTRAR LA TABLA AREA USUARIO -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablaareausuario">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_areausuario">
            <thead>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IdUsuario
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IdArea</th>
              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='areausuario')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='areausuario')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let item of areausuarios">
                <td>{{item.IdUsuario}}</td>
                <td>{{item.IdArea}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LAS INTERRUPCIONES DE TIPO EXTERNAS SIGET -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablaexternas">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light display table-hover small" id="tbl_externas">
            <thead>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='externas')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='externas')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDInter</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">ENS
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  FechaInEXT</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  FechaRpEXT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ex of externas">
                <td class="text-center">{{ex.IDInter}}</td>
                <td class="text-center text-warning">{{ex.ENS}}</td>
                <td class="text-center">{{ex.FechaInEXT}}</td>
                <td class="text-center">{{ex.FechaRpEXT}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LOS CENTROS MT BT -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablacentrosmtbt">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light table-hover display small" id="tbl_centrosmtbt">
            <thead>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='centrosmtbt')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='centrosmtbt')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDInter</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDRepos</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CenMTBT</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">kVA
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  TipoServicio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of centrosmtbt">
                <td class="text-center">{{c.IDInter}}</td>
                <td class="text-center">{{c.IDRepos}}</td>
                <td class="text-center">{{c.CenMTBT}}</td>
                <td class="text-center">{{c.kVA}}</td>
                <td class="text-center">{{c.TipoServicio}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LA TABLA CARGO ENERGIA -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablacargoenergia">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light table-hover display small" id="tbl_centrosmtbt">
            <thead>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='cargoenergia')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='cargoenergia')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Tarifa</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CargoEnergia</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CargoEnergiaPunta</th>

                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CargoEnergiaResto</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CargoEnergiaValle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cargoenergia">
                <td>{{item.Tarifa}}</td>
                <td class="text-center">{{item.CargoEnergia}}</td>
                <td>{{item.CargoEnergiaPunta}}</td>
                <td>{{item.CargoEnergiaResto}}</td>
                <td>{{item.CargoEnergiaValle}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LOS USUARIOS REP SIGET -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divtablarepusuarios">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light display small table-hover" id="tbl_repusuarios">
            <thead>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='repusuarios')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='repusuarios')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  IDInter</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  IDRepos</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  IDUsuario</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Tarifa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of repusuarios">
                <td class="text-center">{{r.IDInter}}</td>
                <td class="text-center">{{r.IDRepos}}</td>
                <td class="text-center">{{r.IDUsuario}}</td>
                <td class="text-center">{{r.Tarifa}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DIV PARA MOSTRAR LA TABLA DE RECLAMOS-INTERRUPCIONES -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divreclamosinter">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light display small table-hover" id="tbl_reclamosinterr">
            <thead>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='reclamosinter')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='reclamosinter')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  IDUsuario</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Codreclamo</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  FechaRe</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  IDInter</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  CodFalla</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of reclamosinterr">
                <td class="text-center">{{r.IDUsuario}}</td>
                <td class="text-center">{{r.Codreclamo}}</td>
                <td class="text-center">{{r.FechaRe}}</td>
                <td class="text-center">{{r.IDInter}}</td>
                <td class="text-center">{{r.CodFalla}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- DIV PARA MOSTRAR LA TABLA DE DATOS CENTRO -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke; overflow-x: scroll;" *ngIf="divdatoscentro">

        <div class="col-md-12">
          <table style="width: 100%;" class="table table-light display small table-hover" id="tbl_datoscentro">
            <thead>
              <tr>
                <th colspan="30" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm " (click)="generarExcel(tabla='datoscentro')"
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='datoscentro')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  CenMTBT</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  TensionServicio</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  TipoArrollamiento</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  TipoServicio</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  TipoCon</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  NumTrafo</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  kVAinst</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Direccion</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Municipio</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Departamento</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Sucursal</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">SSEE
                </th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  Circuito</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  CoordenaX</th>
                <th style="background-color: black; color:whitesmoke; border: solid 1px white" class="text-center">
                  CoordenadaY</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let d of datoscentro">
                <td class="text-center">{{d.CenMTBT}}</td>
                <td class="text-center">{{d.TensionServicio}}</td>
                <td class="text-center">{{d.TipoArrollamiento}}</td>
                <td class="text-center">{{d.TipoServicio}}</td>
                <td class="text-center">{{d.TipoCon}}</td>
                <td class="text-center">{{d.NumTrafo}}</td>
                <td class="text-center">{{d.kVAinst}}</td>
                <td class="text-center">{{d.Direccion}}</td>
                <td class="text-center">{{d.Municipio}}</td>
                <td class="text-center">{{d.Departamento}}</td>
                <td class="text-center">{{d.Sucursal}}</td>
                <td class="text-center">{{d.SSEE}}</td>
                <td class="text-center">{{d.Circuito}}</td>
                <td class="text-center">{{d.CoordenadaX}}</td>
                <td class="text-center">{{d.CoordenadaY}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>



      <!-- DIV PARA MOSTRAR LAS INSTALACIONES SIGET  -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divinstalaciones">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_instalaciones">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9; border: solid 1px black;" class="text-white">
                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='instalaciones')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='instalaciones')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  Circuito</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">SSEE
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  TrafosUrb</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  TrafosRur</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  kVAInsUrb</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  kVAInsRur</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  PotContUrb</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  PotContRur</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of instalaciones">
                <td class="text-center">{{i.Circuito}}</td>
                <td class="text-center">{{i.SSEE}}</td>
                <td class="text-center">{{i.TrafosUrb}}</td>
                <td class="text-center">{{i.TrafosRur}}</td>
                <td class="text-center">{{i.kVAInsUrb}}</td>
                <td class="text-center">{{i.kVAInsRur}}</td>
                <td class="text-center">{{i.PotContUrb}}</td>
                <td class="text-center">{{i.PotContRur}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- DIV PARA MOSTRAR LA TABLA DE COMPENSACIONES -->
      <div class="row mt-3 pt-2" style="background-color: whitesmoke;" *ngIf="divcompensaciones">
        <div class="col-md-12">
          <table style="width: 100%;" class="table table-hover table-light table-borderless small table-bordered"
            id="tbl_compensaciones">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9; border: solid 1px black;" class="text-white">
                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='compensaciones')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='compensaciones')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  IDUsuario</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CodOperacionCredito</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px white" class="text-center">
                  CompensacionAcreditada</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of compensaciones">
                <td class="text-center">{{i.IDUsuario}}</td>
                <td class="text-center">{{i.CodOperacionCredito}}</td>
                <td class="text-center">{{i.CompensacionAcreditada}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>

</div>
