<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 animated fadeInUpBig mt-4">
    <div class="card-header m-0  text-black-50" style="background-color: #263238;color:white;" >
        <h3 class="h3 mb-0" style="color: white;"> <i class="fas fa-user-clock    "></i> Usuarios Afectados</h3>
    </div>

    <div class="card" >
      <div class="card-body">
       <form [formGroup]="frm_usuarios_afectados">
          <div class="row mt-4">

            <div class="col-md-2">
              <div class="form-group">
                <label for="">Año:</label>
                <select  formControlName="anio" name="anio" class="form-control" id="">
                  <option value="">...</option>
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                </select>
              </div>
              <div *ngIf="frm_usuarios_afectados.controls['anio'].errors?.required && frm_usuarios_afectados.controls['anio'].touched" class="alert alert-danger small">
                <i class="fas fa-exclamation-circle    "></i> Campo requerido!
              </div>
            </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="">Periodo:</label>
                  <select  formControlName="periodo" name="periodo" class="form-control" id="">
                    <option value="">...</option>
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>
                <div *ngIf="frm_usuarios_afectados.controls['periodo'].errors?.required && frm_usuarios_afectados.controls['periodo'].touched" class="alert alert-danger small">
                  <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                </div>

            </div>


            </div>

            <div class="row">
               <div class="col-md-12">
                 <div class="form-group">
                    <div class="btn-group">
                        <button [disabled]='frm_usuarios_afectados.invalid' type="button" (click)="generarUsuariosAfectados()"  class="btn btn-outline-primary"><i class="fas fa-user-clock    "></i> Generar usuarios afectados</button>
                        <button (click)="exportarExcelUsuariosAfectados()"  *ngIf="botonexcel"  type="button" class="btn btn-outline-dark"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    </div>
                 </div>
               </div>
            </div>
       </form>

      </div>
    </div>

    <div class="progress mt-3" *ngIf="progressbar">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success " style="width:40%"></div>
      </div>
    <div class="card" *ngIf="tablausuariosafectados" >


      <div class="card-body" style="border-top: grey 2px solid; background-color: whitesmoke;">





        <div class="row mb-3">
          <div class="col-md-6">
            <table class="table small  table-bordered  ">
              <thead>
                <tr>
                  <th colspan="2" class="text-center text-white" style="background-color:#37474f">
                   <img src="./assets/imagenes/trabajo.png" width="30" height="30" alt=""> Suministros Afectados
                  </th>
                </tr>
                <tr>
                  <th style="background-color: #E9ECEF;" class="text-center">Interrupción</th>
                  <th style="background-color: #E9ECEF;" class="text-center">Conteo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of conteonisinterrup" >
                  <td class="text-center">{{i.interrupcion}}</td>
                  <td class="text-center">{{i.conteo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table small table-bordered ">
              <thead>
                <tr>
                  <th colspan="2" class="text-center text-white" style="background-color:#455a64">
                    <img src="./assets/imagenes/transformador1.png" width="30" height="30" alt=""> Trafos Afectados
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="background-color: #E9ECEF;" class="text-center">Interrupción</th>
                  <th class="text-center" style="background-color: #E9ECEF;" class="text-center">Conteo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of conteotrafointerrup" >
                  <td class="text-center">{{i.interrupcion}}</td>
                  <td class="text-center">{{i.conteo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>






        <table style="width:100%" class="table  table-light small mt-4 display" id="tbl_usuarios_afectados">
            <thead class="thead-light">
                <tr><th style="background-color: #90a4ae;" colspan="9" class=" text-dark">
                  <h3>PERIODO {{periodo}}</h3>
                  <div class="btn-group">
                    <button type="button" class="btn btn-md  text-white font-weight-bold " style="background-color:rgb(30, 21, 63);">
                      <img src="./assets/imagenes/feedback.png" width="30" height="30" alt="">
                      Suministros afectados <span class="badge badge-light">{{conteonis}}</span>
                      <span class="sr-only"></span>
                    </button>

                    <button type="button" class="btn btn-md  text-white font-weight-bold " style="background-color:#2D1E40;">
                      <img src="./assets/imagenes/transformador.png" width="30" height="30" alt="">
                      Trafos afectados <span class="badge badge-light">{{conteotrafos}}</span>
                      <span class="sr-only"></span>
                    </button>
                  </div>

                </th></tr>
                <tr>
                    <th class="text-center">Suministro</th>
                    <th class="text-center">Fecha ins sum</th>
                    <th class="text-center">Interrupción</th>
                    <th class="text-center">Codigo interr</th>
                    <th class="text-center">duración</th>
                    <th class="text-center">Origen</th>
                    <th class="text-center">Trafo</th>
                    <th class="text-center">Fecha ins trafo</th>
                    <th class="text-center">Fecha de maniobra</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario  of usuariosafectados " >
                  <td class="text-center">{{usuario.num_suministro}}</td>
                  <td class="text-center">{{usuario.fecha_inst_nis | date:'dd/M/yyyy'}}</td>
                  <td class="text-center">{{usuario.interrupcion}}</td>
                  <td class="text-center">{{usuario.codigo_interrupcion}}</td>
                  <td class="text-center">{{usuario.duracion}}</td>
                  <td class="text-center">{{usuario.origen}}</td>
                  <td class="text-center">{{usuario.trafo}}</td>
                  <td class="text-center">{{usuario.fecha_inst_trafo | date:'dd/M/yyyy'}}</td>
                  <td class="text-center">{{usuario.fecha_maniobra | date:'dd/M/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
