<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 animated slideInRight mt-4">
  <div class="card-header m-0  text-black-50" style="background-color: #087957 ;color:white;">

    <h3 class="text-white"> <img src="./assets/imagenes/siget1.png" alt=""> Tablas <span class="badge badge-secondary">
        SIGET Anuales</span></h3>
  </div>


  <div class="card">
    <div class="card-body">

      <div class="row">

        <!-- OPCIONES PARA TABLAS -->
        <div class="col-md-3 small" style=" height: 300px; overflow-y: scroll; ">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action bg-secondary text-white">
              SELECCIONE UNA OPCIÓN
            </button>
            <a style="border: solid 1px  gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-home-tab"
              data-toggle="pill" href="#areadensidadcarga" role="tab" aria-controls="v-pills-home" aria-selected="true">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt="">
              AREA_DENSIDAD_CARGA </a>


            <a style="border: solid 1px  gray" class=" nav-link font-weight-normal tex-dark" id="v-pills-home-tab"
              data-toggle="pill" href="#areamunicipio" role="tab" aria-controls="v-pills-home" aria-selected="true">
              <img class="img-fluid" src="./assets/imagenes/chart.png" width="30" height="30" alt="">
              AREA_MUNICIPIO </a>

          </div>
        </div>

        <!-- FORMULARIOS -->
        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane animated bounceInRight   bg-white " id="areadensidadcarga" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_tablas">
                <h4>Formulario <span class="badge badge-secondary">AREA_DENSIDAD_CARGA</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>

                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>


                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_tablas.invalid" (click)="generarTablaAreaDensidadCarga()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>




            <!-- FORMULARIO PARA TABLA AREA MUNICIPIO -->
            <div class="tab-pane animated bounceInRight   bg-white " id="areamunicipio" role="tabpanel"
              aria-labelledby="v-pills-home-tab">

              <form [formGroup]="frm_tablas">
                <h4>Formulario <span class="badge badge-secondary">AREA_MUNICIPIO</span></h4>
                <div class="row mt-4">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Año:</label>
                      <select formControlName="anio" name="anio" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                      </select>
                    </div>

                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Periodo:</label>
                      <select formControlName="mes" name="periodo" class="form-control" id="" required>
                        <option value="">...</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                    </div>


                  </div>


                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">

                      <button [disabled]="frm_tablas.invalid" (click)="generarTablaAreaMunicipio()" type="button"
                        class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                        Generar tabla </button>

                    </div>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-md-12" *ngIf="progressbar">
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  <span class="sr-only">45% Complete</span>
                </div>
              </div>
            </div>



          </div>

        </div>



      </div>
    </div>




  </div>
