
<!-- Modal para edicion y visualizacion de las MANIOBRAS DE TRANSFERENCIA -->
<div id="energizadosmodal" class="modal animated bounceInLeft "  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-top:#1C6CDB solid 5px; background-color:#99C7F3">
        <div class="modal-title ">
          <h4><img src="../../../../assets/imagenes/energia2.png" height=50 width=50 alt=""> Seleccionar Cortes <b>NO</b> Energizados</h4>
        </div>
      </div>
      <div class="modal-body" >
        <div class="row justify-content-center">
          <div class="col-md-12">
              <table class="table table-hover small">
                  <thead class="text-dark" style="background-color: lightgrey">
                    <tr>
                      <th  class="text-center" style="border:solid 1px grey">Corte</th>
                      <th  class="text-center" style="border:solid 1px grey">Seleccionar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of detalleenergizado" >
                      <td style="border:solid 1px grey" class="text-center">{{e.corte_energizado}}</td>
                      <td style="border:solid 1px grey" class="text-center"><input value="{{e.corte_energizado}}" type="checkbox" name="energizado" class="input-lg"></td>
                    </tr>
                  </tbody>
                    
                </table>

          </div>
        </div>

        <div class="dropdown-divider" ></div>
      </div>


    

     <div class="modal-body" >
           <div class="row">
              <div class="col-md-12">
                <button class="btn btn-block btn-outline-success " (click)="mostrartransferenciamodal()"><i class="fas fa-save"></i> Guardar Cortes Energizados</button>
              </div>
            </div>
            <div class="row mt-2">

              <div class="col-md-12">
                <button class="btn btn-block btn-outline-danger" data-dismiss="modal" ><i class="fas fa-times-circle" ></i> Cancelar</button>
              </div>
            </div>
      </div>




    </div>
  </div>
</div>

<div>
  
</div>
