<form action="" [formGroup]="frm_fm">
  <div class="card">
    <div class="card-body">
      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Datos
          identificatorios</span>
      </h4>
      <div class="row">
        <div class="col-md-3">

          <div class="form-group">
            <label class="font-weight-bold" for="">Caso N°:</label>
            <input placeholder="Numero de caso" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='num_caso'>
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group" style="margin-top: 27px;">
            <input formControlName="interrupcion" type="text" class="form-control " placeholder="Interrupcion"
              aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button (click)="buscarInterrupcionFM()" class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="font-weight-bold" for="">Interrupcion:</label>
            <input placeholder="Interrupcion" type="
            text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='interrupcion'>
          </div> -->

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fecha de inicio:</label>
            <input readonly placeholder="Inicio" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fecha_interrupcion'>
          </div>

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Fecha fin:</label>
            <input readonly placeholder="Fin" type="text" class="form-control-sm form-control" name="codigotrafo"
              formControlName='fecha_interrupcion_fin'>
          </div>

        </div>


      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Circuito afectado:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='circuito_afectado'>
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold" for="">Cantidad de usuarios afectados:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='usuarios_afectados'>
          </div>

        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="font-weight-bold" for="">Duracion:</label>
            <input readonly placeholder="Circuito afectado" type="text" class="form-control-sm form-control"
              name="codigotrafo" formControlName='duracion'>
          </div>

        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="">Causa:</label>
            <input type="text" readonly formControlName="codigo_causa" class="form-control-sm form-control" name=""
              id="">


          </div>


        </div>
      </div>

      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label for="">Detalle:</label>
            <textarea name="" class="form-control" formControlName="detalle" id="" cols="30" rows="5"></textarea>
          </div>


        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Descripcion:</label>
            <textarea class="form-control" name="" formControlName="descripcion" id="" cols="30" rows="5"></textarea>
          </div>


        </div>
      </div>

      <h4 style="color: rgb(44, 42, 41)"> <span class="badge text-white badge-secondary"> Pruebas aportadas
        </span>
      </h4>
      <div class="row" style="margin-left: 20px;">
        <div class="form-check form-check-inline">
          <input formControlName="fotografias" class="form-check-input" type="checkbox" id="inlineCheckbox1"
            value="true">
          <label class="form-check-label" for="inlineCheckbox1">Fotografias</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="acta_notarial" class="form-check-input" type="checkbox" id="inlineCheckbox2"
            value="true">
          <label class="form-check-label" for="inlineCheckbox2">Acta notarial</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="form_testimonio_personal" class="form-check-input" type="checkbox"
            id="inlineCheckbox3" value="true">
          <label class="form-check-label" for="inlineCheckbox3">Testimonio de personal </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="doc_expedida_policial" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Doc expedida por policia </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="doc_expedida_fiscalia" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Doc expedida por
            fiscalia </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="otro_prueba" class="form-check-input" type="checkbox" id="inlineCheckbox3"
            value="true">
          <label class="form-check-label" for="inlineCheckbox3">Otro tipo de prueba </label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="fomilenio" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true">
          <label class="form-check-label" for="inlineCheckbox3">Fomilenio </label>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12" style="margin-top: 50px;">
          <div class="form-group">
            <button type="button" name="" id="" (click)="save()" class="btn btn-outline-success btn-block">Guardar
              caso</button>
          </div>
        </div>
      </div>

    </div>


  </div>
</form>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Buscando interrupcion...</p>
</ngx-spinner>
