<!-- Sidebar -->
<div *ngIf="isLoggedIn$ | async as isLoggedIn" style="position: sticky; top: 0; z-index: 1000;">


  <!--  -->
  <ul id="menu" class="navbar-nav toggled    sidebar sidebar-dark " id="accordionSidebar"
    style=" background-color:#152340;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <img class="img-fluid" src="./assets/imagenes/blanco.png" alt="">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a [routerLink]="['/dashboard']" class="nav-link faded">
        <img src="./assets/imagenes/comenzar.png" width="40" height="40" alt="">
        <span> Inicio</span>
      </a>



    </li>

    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/usuarios']">
        <img src="./assets/imagenes/admin2.png" width="40" height="40" alt="">
        <span>Administración</span>
      </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Calidad
    </div>


    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/transformadores']">
        <img src="./assets/imagenes/transformador.png" width="40" height="40" alt="">
        <span>Transformadores</span>
      </a>
    </li>




    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/interrupciones']">
        <img src="./assets/imagenes/iluminacion.png" width="40" height="40" alt="">
        <span>Interrupciones</span>
      </a>
    </li>



    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/usuarios-afectados']">
        <img src="./assets/imagenes/feedback.png" width="40" height="40" alt="">
        <span>Usuarios afectados</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/fuerza-mayor']">
        <img src="./assets/imagenes/interruption.png" width="40" height="40" alt="">
        <span>Fuerza Mayor</span>
      </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link faded" [routerLink]="['/maniobras']">
        <img src="./assets/imagenes/technical-support.png" width="40" height="40" alt="">
        <span>Maniobras</span>
      </a>

    </li>



    <li class="nav-item">
      <a class="nav-link collapsed faded" href="#" data-toggle="collapse" data-target="#tablassiget"
        aria-expanded="true" aria-controls="collapseTwo">
        <img src="./assets/imagenes/siget1.png" width="40" height="40" alt="">
        <span>Tablas SIGET</span>
      </a>
      <div id="tablassiget" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded shadow-sm">

          <a class="collapse-item" [routerLink]="['/sigetmensuales']">Tablas mensuales</a>
          <a class="collapse-item" href="" [routerLink]="['/sigetanuales']">Tablas anuales</a>

        </div>
      </div>
    </li>

    <!-- Nav Item - Tables -->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">




  </ul>


</div>


<!-- End of Sidebar -->
