




<div id="divmaniobra" class="p-2 bg-white rounded shadow mb-5 mt-4 animated bounceInRight">
    <div class="card-header m-0  text-black-50" style="background-color: #11487D;color:white;" >
        <h3 class="h3 mb-0" style="color: white;"> <i class="fab fa-connectdevelop" id="move"></i> Maniobras</h3>
    </div>
    <!-- Bordered tabs-->
    <ul id="myTab1" role="tablist" class="mt-2 nav nav-tabs nav-pills with-arrow small flex-column flex-sm-row text-center">
      <li class="nav-item flex-sm-fill">
        <a id="home1-tab" data-toggle="tab" href="#maniobras" role="tab" aria-controls="home1" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border active"> <i class="fab fa-connectdevelop"></i> Maniobras</a>
      </li>
      <li *ngIf="usuariologueado.id!==7" class="nav-item flex-sm-fill">
        <a    id="profile1-tab" data-toggle="tab" href="#frm_maniobras" role="tab" aria-controls="profile1" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border"> <i class="fas fa-folder-open    "></i> Nueva maniobra</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="contact1-tab" data-toggle="tab" href="#reportes" role="tab" aria-controls="contact1" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0 border"> <i class="fas fa-chart-bar    "></i> Reportes</a>
      </li>
    </ul>
    <div id="myTab1Content" class="tab-content">

      <div id="maniobras" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
          <!--LISTADO DE MANIOBRAS-->

          <div class="row">
            <h4>Estados de maniobras
              <span class="badge text-white " style="background-color: #11487D;">Generada</span>
              <span class="badge text-white ml-2 " style="background-color: #70D6BC;">Validada</span>
              <span class="badge text-white ml-2" style="background-color: #F1857B;">Asociada</span>
            </h4><br>
          </div>

          <div class="row small">
            <div class="alert col-md-5 text-lg" style="background-color: #FFE29C; color: rgb(20, 54, 117)" role="alert">
             <img src="./assets/imagenes/disclaimer.png" width="40" height="40" alt=""> Maniobras no validadas
             <span class="badge badge-secondary text-lg">{{conteonovalida}}</span>
            </div>
          </div>


          <table  class="table  table-light small mt-4 display" id="tbl_maniobras">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Estado</th>
                <th class="text-center">ID</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Operador Responsable</th>
                <th class="text-center">Fecha inicio</th>
                <th class="text-center">Fecha finalización</th>
                <th class="text-center">Interrupción</th>
                <th class="text-center">Causa</th>

                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maniobra of maniobradto_arr" >
                <td *ngIf="maniobra.estado==1"   class="text-center">
                    <div  style="background-color: #11487D; color:white" role="alert">
                         G
                    </div>
                </td>
                <td *ngIf="maniobra.estado==2"   class="text-center">
                    <div  style="background-color: #70D6BC; color:white" role="alert">
                         V
                    </div>
                </td>

                <td *ngIf="maniobra.estado==3"   class="text-center">
                  <div  style="background-color: #F1857B; color:WHITE" role="alert">
                       A
                  </div>
              </td>
                <td class="text-center">{{maniobra.id}}</td>
                <td class="text-center">{{maniobra.fecha_ingreso | date: 'dd/MM/yyyy: H:mm' }}</td>
                <td class="text-center">{{maniobra.usuario.nombre}} {{maniobra.usuario.apellido}}</td>
                <td class="text-center">{{maniobra.fecha_evento_inicio | date: 'dd/M/yyyy: H:mm'}}</td>
                <td class="text-center">{{maniobra.fecha_evento_fin | date: 'dd/M/yyyy: H:mm'}}</td>
                <td class="text-center">{{maniobra.tipo_interrupcion}}</td>
                <td style="width: 175px; height: 70px; overflow-y: scroll;">{{maniobra.causa.descripcion_causa}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">

                        <button (click)="verDetalleManiobra(maniobra)"  class="btn btn-block btn-sm btn-secondary" data-toggle="modal" data-target="#dt_maniobras_modal">
                          <i class="fas fa-eye    "></i> Ver
                        </button>


                    </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>


      <div id="frm_maniobras" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane  px-4 py-5 ">

        <div class="card">

          <div class="card-body ">
            <!--FORMULARIO PARA NUEVA MANIOBRA-->
            <form [formGroup]='frm_maniobra' (ngSubmit)="submitManiobra()" novalidate='' >

              <h3 class="font-weight-bold" style="color:#04096D">Encabezado de Maniobra</h3>
              <div class="row mt-3">
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Red modificada:</label>
                      <select  formControlName="red_modificada" name="red_modificada" class="form-control" id="">
                        <option value="">Seleccione una opción...</option>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                      </select>
                    </div>
                    <div *ngIf="frm_maniobra.controls['red_modificada'].errors?.required && frm_maniobra.controls['red_modificada'].touched" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                    <label for="">Fecha de inicio: <span class="badge badge-success large">{{encabezadofechahorainicio}}</span></label>
                      <!-- Button trigger modal para la fecha y tiempo inicial de encabezado-->
                      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#modelId">
                        <i class="fas fa-calendar-alt    "> </i> <i class="fas fa-clock ml-2   "> </i>
                      </button>
                    </div>
                </div>

                <div class="col-md-3">

                  <div class="form-group">
                  <label for="">Fecha de fin: <span class="badge badge-info large">{{encabezadofechahorafinalizacion}}</span></label>
                    <!-- Button trigger modal para la fecha y tiempo final de encabezado-->
                    <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#modelencabezadofechahorafinalizacionId">
                      <i class="fas fa-calendar-alt    "> </i> <i class="fas fa-clock ml-2   "> </i>
                    </button>


                  </div>
              </div>




                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Causa de interrupción</label>
                    <select   type=text id="fechafin"  formControlName="causa" name="causa" class="form-control">
                      <option value="">Seleccione una opcion...</option>
                      <option *ngFor="let causa of causas" value="{{causa.codigo_causa}}">{{causa.descripcion_causa}}</option>
                    </select>
                  </div>
                  <div *ngIf="frm_maniobra.controls['causa'].errors?.required && frm_maniobra.controls['causa'].touched" class="alert alert-danger small">
                    <i class="fas fa-exclamation-circle"></i> Campo requerido!
                  </div>
              </div>

              </div>


              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Tipo de interrupción:</label>
                    <select  formControlName="tipo_interrupcion" name="tipo_interrupcion" class="form-control" id="">
                        <option value="">Seleccione una opción...</option>
                        <option value="F">Forzada</option>
                        <option value="M">Por maniobra</option>
                        <option value="P">Programada</option>
                      </select>
                  </div>
                  <div class="alert alert-danger small" *ngIf="frm_maniobra.controls['tipo_interrupcion'].errors?.required && frm_maniobra.controls['tipo_interrupcion'].touched" >
                    <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Maniobra de transferencia:</label>
                    <button data-toggle="modal" data-target="#maniobratransferencia" class="btn btn-outline-primary">Ingresar</button>
                  </div>
                </div>
              </div>




            </form>
          </div>

          <!--DETALLE DE MANIOBRA BASICA PARA ELEMENTOS AFECTADOS-->
          <div *ngIf="divmaniobrabasica"  class="card-footer bg-gray ">
            <form [formGroup]="fmr_detallemaniobras" (ngSubmit)="addDetalle()" >
              <h3 class="font-weight-bold" style="color: #04096d">Detalle de Maniobra</h3>
              <div class="row">
                <div class="col-md-4 bg-white shadow-sm ml-3" formGroupName="hora_apertura">
                  <div class="form-group">
                    <label for="">Fecha y hora de apertura: <span class="badge badge-success medium">{{aperturafechahora}}</span></label>
                    <div class="input-group  " >
                      <input class="form-control " placeholder="dd/mm/yyyy" name="dp" #apertura="ngbDatepicker" formControlName="fechaapertura" ngbDatepicker >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary " (click)="apertura.toggle()" type="button">
                          <i class="fas fa-calendar-alt    "></i>
                        </button>
                      </div>
                    </div>

                    <div class="row justify-content-md-center" >
                      <div class="col col-md-6"><ngb-timepicker  name="hora" [(ngModel)]="horaapertura" formControlName="horaapertura"  ></ngb-timepicker   ></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 bg-white shadow-sm ml-3" formGroupName="hora_cierre">
                  <div class="form-group">
                  <label for="">Fecha y hora de cierre: <span class="badge badge-info medium">{{cierrehorafecha}}</span></label>
                  <div class="input-group  ">
                    <input class="form-control " placeholder="dd/mm/yyyy" name="dp" #cierre="ngbDatepicker" formControlName="fechacierre" ngbDatepicker >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary " (click)="cierre.toggle()" type="button">
                        <i class="fas fa-calendar-alt    "></i>
                      </button>
                    </div>
                  </div>

                  <div class="row justify-content-md-center">
                    <div class="col col-md-6"><ngb-timepicker [(ngModel)]="horacierre" formControlName="horacierre"></ngb-timepicker   ></div>
                  </div>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Fase afectada:</label>
                      <select name="fase" formControlName="fase_afectada"  class="form-control" id="">
                          <option value="">Seleccione una opcion...</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="AB">AB</option>
                          <option value="AC">AC</option>
                          <option value="BA">BA</option>
                          <option value="BC">BC</option>
                          <option value="ABC">ABC</option>
                      </select>
                    </div>
                    <div *ngIf="fmr_detallemaniobras.controls['fase_afectada'].errors?.required && fmr_detallemaniobras.controls['fase_afectada'].touched"  class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                    </div>
                </div>


              </div>

              <div class="row mt-3">

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Corte pertenece a otro:</label>
                    <select name="" class="form-control" formControlName="corte_otro" id="">
                      <option value="">...</option>
                      <option value="S">Si</option>
                      <option value="N">No</option>
                    </select>
                  </div>
                  <div class="alert alert-danger small" *ngIf="fmr_detallemaniobras.controls['corte_otro'].errors?.required && fmr_detallemaniobras.controls['corte_otro'].touched" >
                    <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                  </div>
                </div>

                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Elemento:</label>
                        <input id="typeahead-basic" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" formControlName="elemento_aperturado">

                      </div>
                      <div *ngIf="fmr_detallemaniobras.controls['elemento_aperturado'].errors?.required && fmr_detallemaniobras.controls['elemento_aperturado'].touched"  class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                      </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="">Pertenece a transferencia:</label>
                          <select (change)="transferenciaEvent($event.target.value)" name="" class="form-control" formControlName="transferencia" id="">
                            <option value="">Seleccione una opción...</option>
                            <option value="S">Si</option>
                            <option value="N">No</option>
                          </select>
                        </div>
                        <div class="alert alert-danger small" *ngIf="fmr_detallemaniobras.controls['transferencia'].errors?.required && fmr_detallemaniobras.controls['transferencia'].touched" >
                          <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                        </div>
                      </div>


                      <div class="col-md-2" *ngIf="divtransferencia" >
                          <div class="form-group">
                            <label for="">Transferencias:</label>
                            <select (change)="verModalTransferencias($event.target.value)" name="" class="form-control" id="">
                              <option value=""></option>
                              <option *ngFor="let tipo of tipostransferencia"  value="{{tipo.id}}">{{tipo.nombre}}</option>
                            </select>
                          </div>

                        </div>

                        <div class="col-md-2" >
                          <div class="form-group">
                            <label for="">Transferencia ID:</label>
                            <input readonly="readonly" formControlName="transferencia_id" type="text" class="form-control" >
                          </div>
                        </div>

                        <div class="col-md-2" >
                          <div class="form-group">
                            <label for="">Genera reposición:</label>
                            <select class="form-control" name="" formControlName="genera_reposicion" id="">
                              <option value="">...</option>
                              <option value="1">Si</option>
                              <option value="0">No</option>
                            </select>
                            </div>
                        </div>




                      <div class="col-md-10">
                        <div class="form-group">
                          <label for="">Observaciones:</label>
                          <textarea style="text-transform: uppercase" formControlName="observaciones" class="form-control" name="" id=""  rows="4"></textarea>
                        </div>
                        <div *ngIf="fmr_detallemaniobras.controls['observaciones'].errors?.required && fmr_detallemaniobras.controls['observaciones'].touched"  class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                        </div>
                      </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="submit"  [disabled]="fmr_detallemaniobras.invalid"  class="btn btn-block btn-circle btn-outline-dark" style="border: solid 1px black"> <i class="fas fa-plus-circle    "></i> Añadir detalle de maniobra</button>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-12">
                    <table  class="table table-hover  "   >
                        <thead class="" style="background-color: #D3CECE">
                          <tr>
                              <th class="text-center">Hora apertura</th>
                              <th class="text-center">Hora cierre</th>
                              <th class="text-center">Elemento</th>
                              <th class="text-center">Fase</th>
                              <th class="text-center">Duración</th>
                              <th class="text-center">Transferencia</th>
                              <th class="text-center">Genera Reposición</th>
                              <th class="text-center">Comentarios</th>
                              <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="{{detalle.id}}" *ngFor="let detalle of detallesmaniobra; let i=index" >
                            <td class="text-center">{{detalle.hora_apertura}} </td>
                            <td class="text-center">{{detalle.hora_cierre}} </td>
                            <td class="text-center">{{detalle.elemento_aperturado}}</td>
                            <td class="text-center">{{detalle.fase_afectada}}</td>
                            <td class="text-center">{{detalle.duracion}}</td>
                            <td class="text-center">{{detalle.transferencia_id}}</td>
                            <td class="text-center">{{detalle.genera_reposicion}}</td>
                            <td>{{detalle.observaciones}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button (click)="editarLinea(detalle, i)"  type="button" class="btn btn-info sm"><i class="fas fa-pencil-alt    "></i></button>
                                    <button  (click)="eliminarLinea(detalle.id,i)" type="button" class="btn btn-danger sm"><i class="fas fa-trash-alt    "></i></button>
                                  </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </form>
          </div>

          <!--DETALLDE MANIOBRA DE TRANSFERENCIA SI APLICA Y LLENARON EL FORMULARIO CORRESPONDIENTE-->
          <div *ngIf="divmaniobratransferencia"  class="card-footer ">
            <h3 class="font-weight-bold" style="color: #04096d">Maniobra de transferencia</h3>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="row mt-2">
                  <div class="col-md-12">
                      <table  class="table table-hover  "   >
                          <thead class="" style="background-color: #D3CECE">
                            <tr>
                                <th class="text-center">Hora apertura</th>
                                <th class="text-center">Elemento aperturado</th>
                                <th class="text-center">Hora cierre</th>
                                <th class="text-center">Elemento de cierre</th>
                                <th class="text-center">Energizacion</th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let detalle of detallesmaniobra" >
                              <td class="text-center">{{detalle.hora_apertura | date:'dd/M/yyyy H:mm' }}</td>
                              <td class="text-center">{{detalle.elemento_aperturado}}</td>
                              <td class="text-center">{{detalle.hora_cierre | date:'dd/M/yyyy H:mm' }}</td>
                              <td class="text-center">{{detalle.elemento_cierre}}</td>
                              <td class="text-center">{{detalle.energizacion.id}}</td>
                              <td>
                                  <div class="btn-group" role="group" aria-label="Basic example">
                                      <button  type="button" class="btn btn-info sm"><i class="fas fa-pencil-alt    "></i></button>
                                      <button type="button" class="btn btn-danger sm"><i class="fas fa-trash-alt    "></i></button>

                                    </div>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-footer ">
              <div class="row justify-content-center">
                <div *ngIf="maniobraspinner" class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="row pt-5 ">
                  <div class=col-md-12>
                    <button id="btn_guardarmaniobra" [disabled]="frm_maniobra.invalid"  type="submit" (click)="saveManiobra()"  class="btn btn-block btn-outline-success" style="border: solid 1px black"><i class="fas fa-save    "></i> Guardar maniobra y detalles</button>
                    <button type="submit" class="btn btn-block btn-outline-danger" style="border:solid 1px black"><i class="fas fa-times-circle    "></i> Cancelar</button>
                  </div>
                </div>
          </div>
        </div>





      </div>


      <div id="reportes" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
      </div>
    </div>
    <!-- End bordered tabs -->
</div>


  <button data-toggle="modal" [hidden]="true" data-target="#modal_transferencia" id="botonmodaltransferencias">click</button>

  <!-- Modal -->
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_transferencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span id="close_modaltr" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
            <div class="row">

              <div class="col-md-6 divide">
                  <h5><i class="fas fa-network-wired"></i> Red Electrica</h5>
                  <table id="tblredelectrica" class="table small   table-hover  "   >
                      <thead class="bg-dark text-white">
                        <tr>
                            <th class="text-center">Corte Hijo</th>
                            <th class="text-center">Corte Padre</th>
                            <th></th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let red of redelectrica; let i=index" >
                          <td class="text-center">{{red.hijo}}</td>
                          <td class="text-center">{{red.padre}}</td>

                          <th class="text-center"><button  (click)="selectRowForRedElectrica(red,i)"  class="btn btn-sm btn-warning"><i class="fas fa-edit    "></i></button></th>
                        </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-md-6">
                <form [formGroup]='frm_dt_transferencia' (ngSubmit)="setPadreNuevo()" >
                  <div class="row">


                      <div class="col-md-6">

                          <div class="form-group">
                            <label for="">Corte Hijo:</label>
                            <input type="text" readonly=readonly name="hijo" [(ngModel)]="elemento.hijo" formControlName="corte_hijo" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Corte Padre:</label>
                              <input type="text" name="padre" [(ngModel)]="elemento.padre" formControlName="corte_padre" class="form-control">
                            </div>
                          </div>


                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Fecha inicio:</label>
                            <input type="text" [owlDateTime]="f_inicio" [owlDateTimeTrigger]="f_inicio" formControlName="fecha_inicio" name="fechainicio" class="form-control">
                            <owl-date-time #f_inicio></owl-date-time>

                          </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Fecha fin:</label>
                              <input [owlDateTime]="f_fin" [owlDateTimeTrigger]="f_fin" type="text" formControlName="fecha_fin"  name="fechafin"  class="form-control">
                              <owl-date-time #f_fin></owl-date-time>
                            </div>
                          </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button [disabled]="frm_dt_transferencia.invalid"  class="btn btn-block btn-outline-primary" style="border:solid 1px black"><i class="fas fa-hand-paper    "></i> Establecer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal-body" style=" height: 150px; border:solid 1px black; background-color: #F7F7F7; overflow-y: scroll">
            <div class="row">
                <div class="col-md-12">
                    <h5><i class="fas fa-random    "></i> Transferencias</h5>
                    <table class="table small table-hover table-bordered ">
                        <thead style="background-color: #111E6C; color:white ">
                          <tr>
                           <th class="text-center">Corte Hijo</th>
                           <th class="text-center">Corte Padre</th>
                           <th class="text-center"><i class="fas fa-calendar-times    "></i> Inicio</th>
                           <th class="text-center"><i class="fas fa-calendar-times    "></i> Fin</th>
                           <th class="text-center"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let corte of dt_transferencias" >
                            <td class="text-center">{{corte.corte_hijo}}</td>
                            <td class="text-center">{{corte.corte_padre}}</td>
                            <td class="text-center">{{corte.fecha_inicio | date:'dd/M/yyyy H:mm'}}</td>
                            <td class="text-center">{{corte.fecha_fin | date:'dd/M/yyyy H:mm'}}</td>
                            <td class="text-center"><button class="btn btn-sm btn-circle btn-danger"><i class="fas fa-times-circle    "></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>

        </div>
        <div class="modal-header">
            <button type="submit" (click)="saveTransferencia()"  class="btn btn-block btn-outline-success" style="border:solid 1px black"><i class="fas fa-save    "></i> Guardar Transferencias</button>
        </div>
      </div>

    </div>
  </div>




    <button type="button" id="btn_transferenciamodal" class="btn btn-primary " hidden data-toggle="modal" data-target="#transferencia">
    </button>

    <!-- Modal -->
    <div class="modal fade " data-backdrop="static" data-keyboard="false" id="transferencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header bg-success text-white justify-content-center">
              <h6>¿Desea realizar la transferencia: <b>{{tipotransferencia.nombre}}?</b></h6>
          </div>



          <div class="modal-body" style="background-color:#dcdcde">

              <div class="row">
                <div class="col mb-2">
                  <img class="img-fluid" src="./assets/imagenes/flash.png" id="flash"  width="35px" alt="">
                  <img class="img-fluid" src="../../../assets/imagenes/responsive.png" id="folder"  width="70px" alt="">
                  <img class="img-fluid" src="../../../assets/imagenes/folder.png" id="folder1"  width="70px" alt="">
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" id="close_modaltr" data-dismiss="modal"><i class="fas fa-times-circle    "></i> Cancelar</button>
            <button type="button" (click)="transferir()" data-dismiss="modal"  class="btn btn-success"><i class="fas fa-arrow-right    "></i> Transferir</button>
          </div>
        </div>
      </div>
    </div>


    <!--MODAL PARA VER DETALLES DE LA MANIOBRA-->

    <div id="dt_maniobras_modal" class="modal fade " tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header align-items-center text-white" style="background-color: #183841;">
              <div class="modal-title text-white ">
                <h5 class=" align-content-center"><i class="fab fa-connectdevelop" id="move"></i><b class="ml-2"> Maniobra N° {{maniobradto.id}} </b>
                   <span *ngIf="maniobradto.estado==2"  class="badge badge-light mr-4">La maniobra se encuentra validada</span>
                </h5>

              </div>
            </div>
            <div class="modal-body small">
                <div class="row" >

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header bg-white" >
                          <dl class="row" >
                            <div class="col-md-3">
                              <dt class="col-sm-12">Red Modificada:</dt>
                              <dd class="col-sm-9">{{maniobradto.red_modificada}}</dd>
                            </div>

                            <div class="col-md-3">
                              <dt class="col-sm-12">Fecha ingreso:</dt>
                              <dd class="col-sm-9">{{maniobradto.fecha_ingreso | date: 'dd/MM/yyyy H:mm'  }}</dd>
                            </div>

                            <div class="col-md-3">
                              <dt class="col-sm-12">Evento inicia:</dt>
                              <dd class="col-sm-9">{{maniobradto.fecha_evento_inicio | date: 'dd/MM/yyyy H:mm' }}</dd>
                            </div>

                            <div class="col-md-3">
                              <dt class="col-sm-12">Evento cierra:</dt>
                              <dd class="col-sm-9">{{maniobradto.fecha_evento_fin | date: 'dd/MM/yyyy H:mm' }}</dd>
                            </div>


                          </dl>

                          <dl class="row">
                            <div class="col-md-3">
                              <dt class="col-sm-12">Operador responsable:</dt>
                              <dd class="col-sm-9">{{maniobradto.usuario?.nombre}} {{maniobradto.usuario?.apellido}}</dd>
                            </div>

                            <div class="col-md-3">
                              <dt class="col-sm-12">Tipo de interupción:</dt>
                              <dd class="col-sm-9">{{maniobradto.tipo_interrupcion}}</dd>
                            </div>

                            <div class="col-md-3">
                              <dt class="col-sm-12">Causa Interrupción:</dt>
                              <dd class="col-sm-12">{{maniobradto.causa?.descripcion_causa}}</dd>
                            </div>
                          </dl>
                        </div>

                        <!-- TABLA DE DETALLES DE MANIOBRA -->

                        <div class="card-body small">

                          <div class="row">

                              <div class="col-md-12">
                                <div class="btn-group">
                                  <button class="btn btn " style="background-color: #BBC0BA;">Apertura</button>
                                  <button class="btn btn " style="background-color: #EBEBE3;">Cierre</button>
                                </div>
                              </div>

                          </div>

                            <table class="table  mt-3">
                                <thead class="">
                                  <tr>

                                      <th style="border: solid 1px black; background-color: #BBC0BA;" class="text-center">Elemento apertura</th>
                                      <th style="border: solid 1px black; background-color: #BBC0BA;" class="text-center">Horario apertura</th>
                                      <th style="border: solid 1px black; background-color: #BBC0BA;" class="text-center">Fase afectada</th>
                                      <th style="border: solid 1px black; background-color: #EBEBE3;" class="text-center">Elemento cierre</th>
                                      <th style="border: solid 1px black; background-color: #EBEBE3;" class="text-center">Horario cierre</th>
                                      <th style="border: solid 1px black; background-color: #EBEBE3;" class="text-center">Fase afectada</th>
                                      <th style="border: solid 1px black" class="text-center">Duración</th>
                                      <th style="border: solid 1px black" class="text-center">Observaciones</th>
                                      <th style="border: solid 1px black" class="text-center"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let detallemaniobra of maniobradto.detallesmaniobra" >
                                    <td style="background-color: #BBC0BA; border: solid 1px black" class="text-center">{{detallemaniobra.elemento_aperturado}}</td>
                                    <td style="background-color: #BBC0BA; border: solid 1px black" class="text-center">{{detallemaniobra.hora_apertura | date:'dd/MM/yyyy H:mm'  }}</td>
                                    <td style="background-color: #BBC0BA; border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada}}</td>
                                    <td style="background-color: #EBEBE3; border: solid 1px black" class="text-center">{{detallemaniobra.elemento_cierre}}</td>
                                    <td style="background-color: #EBEBE3; border: solid 1px black" class="text-center">{{detallemaniobra.hora_cierre | date:'dd/MM/yyyy H:mm'  }}</td>
                                    <td style="background-color: #EBEBE3; border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada_cierre}}</td>
                                    <td style="border: solid 1px black" class="text-center">{{detallemaniobra.duracion}}</td>
                                    <td style="border: solid 1px black" class="text-center">{{detallemaniobra.observaciones}}</td>
                                    <td style="border: solid 1px black" class="text-center">
                                      <div class="btn-group">
                                        <button  *ngIf="maniobradto.estado==1" class="btn btn-xs btn-danger"><i class="fas fa-trash    "></i></button>
                                        <button (click)=edicionItinerario(detallemaniobra)  *ngIf="maniobradto.estado==1" class="btn btn-xs btn-info"><i class="fas fa-edit    "></i></button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body" *ngIf="edicionitinerario"    >
                          <h4>Edición de itinerario</h4>
                          <form   action="" style="border: solid 1px grey; padding:10px">

                            <div class="row">

                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Elemento aperturado:</label>
                                  <input [(ngModel)]="detalleEdicion.elemento_aperturado"   name="elementoaperturado" id="typeahead-basic" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" >

                                </div>

                              </div>



                              <div class="col-md-5" >

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="" for="">Fecha y hora apertura:</label>
                                      <div class="input-group  " >
                                        <input  [(ngModel)]="fecha_eventoinicia" class="form-control "  placeholder="dd/mm/yyyy" name="aperturaF" #apertura="ngbDatepicker"  ngbDatepicker >
                                        <div class="input-group-append">
                                          <button class="btn btn-outline-secondary "  (click)="apertura.toggle()" type="button">
                                            <i class="fas fa-calendar-alt    "></i>
                                          </button>

                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ngb-timepicker  [(ngModel)]="hora_eventoinicia" style="padding-top: 10px;" size="small"  name="horaapertura" ></ngb-timepicker   >
                                    </div>
                                  </div>
                                </div>

                            </div>

                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="">Fase afectada:</label>
                                <select [(ngModel)]="detalleEdicion.fase_afectada"  name="fase"  class="form-control" id="">
                                    <option value="">...</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="AB">AB</option>
                                    <option value="AC">AC</option>
                                    <option value="BA">BA</option>
                                    <option value="BC">BC</option>
                                    <option value="ABC">ABC</option>
                                </select>
                              </div>

                          </div>



                            </div>



                          <!-- DIVS PARA ELEMENTOS SECUNDARIOS -->
                          <div class="row mt-2"  >
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Elemento cierre:</label>
                                <input [(ngModel)]="detalleEdicion.elemento_cierre"   name="elementocierre" id="typeahead-basic" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" >

                              </div>

                            </div>

                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="">Fase afectada:</label>
                                <select [(ngModel)]="detalleEdicion.fase_afectada_cierre"  name="fasecierre"  class="form-control" id="">
                                    <option value="">...</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="AB">AB</option>
                                    <option value="AC">AC</option>
                                    <option value="BA">BA</option>
                                    <option value="BC">BC</option>
                                    <option value="ABC">ABC</option>
                                </select>
                              </div>

                          </div>

                          <div class="col-md-6" >

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="" for="">Horario de cierre:</label>
                                  <div class="input-group  " >
                                    <input  [(ngModel)]="fecha_eventofinaliza" class="form-control "  placeholder="dd/mm/yyyy" name="fechacierre" #cierre="ngbDatepicker"  ngbDatepicker >
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary "  (click)="cierre.toggle()" type="button">
                                        <i class="fas fa-calendar-alt    "></i>
                                      </button>

                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <ngb-timepicker  [(ngModel)]="hora_eventofinaliza" style="padding-top: 10px;" size="small"  name="horacierre" ></ngb-timepicker   >
                                </div>
                              </div>
                            </div>

                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="">Afecta usuarios:</label>
                            <select [(ngModel)]="detalleEdicion.afecta_usuarios" class="form-control" name="afs"  id="">
                              <option value="">...</option>
                              <option value="1">Si</option>
                              <option value="0">No</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="">Genera reposición:</label>
                            <select [(ngModel)]="detalleEdicion.genera_reposicion" class="form-control" name="gre"  id="">
                              <option value="">...</option>
                              <option value="1">Si</option>
                              <option value="0">No</option>
                            </select>
                          </div>
                        </div>
                          </div>


                        <div class="row">

                            <div class="btn-group offset-8">
                              <button (click)="guardarEdicionItinerario(detalleEdicion)" class="btn btn-success"><i class="fas fa-save    "></i> Guardar edición</button>
                              <button class="btn btn-secondary"><i class="fas fa-times-circle    "></i> Cancelar edición</button>

                          </div>
                        </div>



                          </form>
                        </div>

                          <div class="card-body">
                            <button data-dismiss="modal" (click)="validarManiobra(maniobradto)"  *ngIf="maniobradto.estado==1"  class="btn btn-block btn-outline-success"><i class="fas fa-hand-paper    "></i> Validar maniobra</button>
                            <button data-dismiss="modal" class="btn btn-block btn-outline-danger"><i class="fas fa-times-circle    "></i> Cerrar</button>
                          </div>

                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>


    <!--MANIOBRA DE TRANSFERENCIA-->



    <!-- Modal fecha y hora de inicio encabezado -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">
               <img src="./assets/imagenes/schedule.png" width="30" height="30" alt=""> Fecha y Hora de inicio
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body text-center">
              <form #frm_horainicio="ngForm" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group  ">
                          <input required #encabezadohorafecha="ngModel" class="form-control " placeholder="dd/mm/yyyy" name="dp" #d="ngbDatepicker" [(ngModel)]="encabezadofecha" ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>
                      </div>

                      <div class="col-md-12">
                        <div [hidden] = "encabezadohorafecha.valid || encabezadohorafecha.pristine" class="alert small alert-danger">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                        </div>
                      </div>

                    </div>



                      <div class="row justify-content-md-center mt-3">
                          <div class="col-md-6 ">
                            <ngb-timepicker required  name="tiempo"  [(ngModel)]="encabezadohora"></ngb-timepicker>
                          </div>

                      </div>
              </form>
          </div>
          <div class="modal-footer">

            <button [disabled]="frm_horainicio.invalid" type="button" class="btn btn-outline-success btn-block " data-dismiss="modal" (click)="fechahorainicio()">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal fecha y hora de finalizacion encabezado -->
    <div class="modal fade" id="modelencabezadofechahorafinalizacionId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title">
               <img src="./assets/imagenes/schedule.png" width="30" height="30" alt=""> Fecha y Hora de fin
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body text-center">
            <div class="input-group  ">
                          <input class="form-control " placeholder="dd/mm/yyyy" name="dp" #d1="ngbDatepicker" [(ngModel)]="encabezadofechafin" ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="d1.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center">
                        <div class="col col-md-6"><ngb-timepicker   [(ngModel)]="encabezadohorafin"></ngb-timepicker   ></div>
                      </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success btn-block " data-dismiss="modal" (click)="fechahorafin()">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- COMPONENTE HIJO PARA LAS MANIOBRAS DE TRANSFERENCIA -->

    <app-maniobra-transferencia (enviarManiobraTransferencia)="recibirManiobraTransferencia($event)"></app-maniobra-transferencia>



    <!-- modal para edicion de linea de maniobra -->
    <div id="edicionitinerario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="my-modal-title">Edición de itinerario</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

