

<!-- Modal para edicion y visualizacion de las MANIOBRAS DE TRANSFERENCIA -->

<div id="maniobratransferencia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-xl " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:  rgb(41, 29, 110); color:white">
        <h5 class="modal-title" id="my-modal-title">Maniobra de transferencia</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-secondary"><i class="fas fa-file    "></i> Encabezado de maniobra</h4>
        <form [formGroup]="frm_maniobratransferencia"  action="">

          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <label for="">Elemento aperturado:</label>
                <input  formControlName="elemento_aperturado"  name="elementoaperturado" id="typeahead-basic" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" >

              </div>

            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label for="">Condición Apertura:</label>
                <input  formControlName="cond_elementoapertura"  name="elementoaperturado"  class="form-control" type="text" placeholder="Condición de elemento" >

              </div>

            </div>


            <div class="col-md-4" >

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="" for="">Fecha y hora apertura:</label>
                    <div class="input-group  " >
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha_eventoinicia" class="form-control "  placeholder="dd/mm/yyyy" name="apertura" #apertura="ngbDatepicker"  ngbDatepicker >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary "  (click)="apertura.toggle()" type="button">
                          <i class="fas fa-calendar-alt    "></i>
                        </button>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ngb-timepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="hora_eventoinicia" style="padding-top: 10px;" size="small"  name="hora1" ></ngb-timepicker   >
                  </div>
                </div>
              </div>

          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="">Fase afectada:</label>
              <select formControlName="fase_afectada" name="fase"  class="form-control" id="">
                  <option value="">...</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="AB">AB</option>
                  <option value="AC">AC</option>
                  <option value="BA">BA</option>
                  <option value="BC">BC</option>
                  <option value="ABC">ABC</option>
              </select>
            </div>

        </div>

          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="">Tipo elemento cierre:</label>
              <select (change)="elemAperturadoSeleccionado($event.target.value)"   name="elementoaperturado" class="form-control" id="">
                <option >...</option>
                <option value="p">Principal</option>
                <option value="s">Secundario</option>
              </select>

            </div>
          </div> -->

        </div>


        <!-- DIVS PARA ELEMENTOS SECUNDARIOS -->
        <div class="row mt-2"  >
          <div class="col-md-2">
            <div class="form-group">
              <label for="">Elemento cierre:</label>
              <input  formControlName="elemento_cierre"  name="elementoaperturado" id="typeahead-basic" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" >

            </div>

          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="">Condición Cierre:</label>
              <input  formControlName="cond_elementocierre"  name="elementoaperturado"  class="form-control" type="text" placeholder="Condición de elemento" >

            </div>

          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="">Fase afectada:</label>
              <select formControlName="fase_afectada_cierre" name="fase"  class="form-control" id="">
                  <option value="">...</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="AB">AB</option>
                  <option value="AC">AC</option>
                  <option value="BA">BA</option>
                  <option value="BC">BC</option>
                  <option value="ABC">ABC</option>
              </select>
            </div>

        </div>

        <div class="col-md-4" >

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="" for="">Horario de cierre:</label>
                <div class="input-group  " >
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha_eventofinaliza" class="form-control "  placeholder="dd/mm/yyyy" name="cierre" #cierre="ngbDatepicker"  ngbDatepicker >
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary "  (click)="cierre.toggle()" type="button">
                      <i class="fas fa-calendar-alt    "></i>
                    </button>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <ngb-timepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="hora_eventofinaliza" style="padding-top: 10px;" size="small"  name="hora1" ></ngb-timepicker   >
              </div>
            </div>
          </div>

      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="">Afecta usuarios:</label>
          <select class="form-control" name="afs" formControlName="afecta_usuarios" id="">
            <option value="">...</option>
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="">Genera reposición:</label>
          <select class="form-control" name="afs" formControlName="genera_reposicion" id="">
            <option value="">...</option>
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="">Corte frontera:</label>
            <input    name="corte_padre" id="typeahead-basic" formControlName="corte_frontera" [ngbTypeahead]="busqueda_elem" class="form-control" type="text" placeholder="Elemento afectado" >
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label for="">Maniobra:</label>
            <select name="maniobra" formControlName="cond_maniobra" class="form-control" id="">
              <option value=""></option>
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>

        </div>
    </div>



        <div class="row">
          <div class="col-md-12">
            <button (click)="addDetalle()" class="btn btn-outline-primary btn-block"><i class="fas fa-plus-circle    "></i> Agregar</button>
          </div>
        </div>

        </form>
      </div>
      <div class="modal-body" style="border-top: solid 2px grey;" >
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-secondary"><i class="fas fa-table    "></i> Detalles de maniobra</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group">
              <button class="btn btn " style="background-color: #BBC0BA;">Apertura</button>
              <button class="btn btn " style="background-color: #EBEBE3;">Cierre</button>
            </div>
          </div>
          <div class="col-md-12 small">
            <table class="table table-light table-sm mt-4">
              <thead class="thead-light">

                <tr>
                  <th style="background-color: #BBC0BA;" class="text-center">Elemento apertura</th>
                  <th style="background-color: #BBC0BA;" class="text-center">Horario apertura</th>
                  <th style="background-color: #BBC0BA;" class="text-center">Fase afectada</th>
                  <th style="background-color: #EBEBE3;" class="text-center">Elemento cierre</th>
                  <th style="background-color: #EBEBE3;" class="text-center">Horario cierre</th>
                  <th style="background-color: #EBEBE3;" class="text-center">Fase afectada</th>
                  <th class="text-center">Duración</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of maniobradt" >
                  <td style="background-color: #BBC0BA;" class="text-center">{{d.elemento_aperturado}}</td>
                  <td style="background-color: #BBC0BA;" class="text-center">{{d.hora_apertura}}</td>
                  <td style="background-color: #BBC0BA;" class="text-center">{{d.fase_afectada}}</td>
                  <td style="background-color: #EBEBE3;" class="text-center">{{d.elemento_cierre}}</td>
                  <td style="background-color: #EBEBE3;" class="text-center">{{d.hora_cierre}}</td>
                  <td style="background-color: #EBEBE3;" class="text-center">{{d.fase_afectada_cierre}}</td>
                  <td class="text-center">{{d.duracion}}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button class="btn btn-xs btn-danger"><i class="fas fa-trash    "></i></button>
                      <button class="btn btn-xs btn-info"><i class="fas fa-edit    "></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">

            <button (click)="finalizarIngreso()" class="btn float-right pr-4  btn-success" style="margin-right: 20px;">  Finalizar <i class="fas fa-arrow-right    "></i></button>

        </div>
      </div>
    </div>
  </div>
</div>
