

<button *ngIf="botonasociar" (click)="asociarReclamos()"  data-target="#asociacion_reclamos_modal"  data-toggle="modal"  class="btn btn-outline-primary mb-3 btn-lg" ><i class="fas fa-link    "></i>
  Asociar a Interrupción</button>
<table  id="reclamos_tbl" class="table small mt-4 table-hover">
  <thead class="">
    <tr>
      <th style="background-color: black; color:white;" class="text-center">N° Reclamo</th>
      <th style="background-color: black; color:white;" class="text-center">Periodo</th>
      <th style="background-color: black; color:white;" class="text-center">Fecha Creación</th>
      <th style="background-color: black; color:white;" class="text-center">Comentario</th>
      <th style="background-color: black; color:white;" class="text-center">Trafo</th>
      <th style="background-color: black; color:white;"  class="text-center">NIS</th>
      <th style="background-color: black; color:white;"  class="text-center">Corte</th>
      <th style="background-color: black; color:white;" class="text-center">Cliente Reporto</th>
      <th style="background-color: black; color:white;" class="text-center"></th>
      <th style="background-color: black; color:white;" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr id="{{reclamo.correlativo}}" *ngFor="let reclamo of reclamos; let i = index" >
     <td class="text-center">{{reclamo.codigo_reclamo}}</td>
     <td class="text-center">{{reclamo.periodo}}</td>
     <td class="text-center">{{reclamo.fecha | date: 'dd/M/yyyy H:mm'}}</td>
     <td   class="">
        <div style="max-height: calc(25vh - 100px); overflow-y: auto;">
          {{reclamo.comentario}}
        </div>
      </td  >
     <td class="text-center">
      {{reclamo.codigo_elemento}}</td>
     <td class="text-center">{{reclamo.num_suministro}}</td>
     <td class=""></td>

     <td class="text-center">{{reclamo.nombres_reporta }} {{reclamo.apellidos_reporta}}</td>
     <td class="text-center">
       <button (click) = "verReclamo(reclamo)" data-target="#modalreclamodetalle" data-toggle="modal" ngbTooltip="Detalles"  class="btn btn-sm rounded-pill btn-outline-dark"><i class="fas fa-eye"></i> </button >
      </td>
     <td class="text-center">
       <button id="seleccionar{{reclamo.correlativo}}" (click)="seleccionarReclamo(reclamo, i)"  class="btn btn-sm btn-block btn-outline-dark"><i class="fas fa-hand-paper    "></i>
        Seleccionar
       </button>
       <button id="deseleccionar{{reclamo.correlativo}}" (click)="deseleccionar(reclamo, i)"  class="btn btn-sm btn-block btn-outline-danger d-none"><i class="fas fa-times-circle    "></i>
        Remover
       </button>
    </td>
    </tr>
  </tbody>
</table>


<!-- MODAL PARA LA ASOCIACION DE RECLAMO INTERRUPCION -->
<div id="asociacion_reclamos_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-body" style="border-bottom: 2px solid grey;">
       <div class="row ">
         <div class="col-md-12 small" >
          <table class="table table-sm table-light table-bordered  table-hover " >
            <thead class="" >
              <tr >
                <th style="background-color: #1763A6; color:white" colspan="8" class="text-center">
                    Reclamos seleccionados

                </th>
              </tr>
              <tr >
                <th  class="text-center medium">Correlativo</th>
                <th  class="text-center medium">Creación</th>
                <th  class="text-center medium">Comentario</th>
                <th  class="text-center medium">Trafo</th>
                <th  class="text-center medium">NIS</th>

                <th  class="text-center medium">Cliente</th>
                <th  class="text-center"></th>
              </tr>
            </thead>
            <tbody style="height: 50px; overflow-y:auto;width: 100%;">


                <tr *ngFor="let reclamo of reclamosseleccionados" >
                <td class="text-center medium">{{reclamo.correlativo}}</td>
                <td class="text-center medium">{{reclamo.fecha | date: 'dd/M/yyyy H:mm'}}</td>
                <td style="max-height: calc(25vh - 100px); overflow-y: auto;" class="medium">{{reclamo.comentario}}</td  >
                <td class="text-center medium">{{reclamo.codigo_elemento}}</td>
                <td class="text-center medium">{{reclamo.num_suministro}}</td>
                <td class="text-center medium">{{reclamo.nombres_reporta }} {{reclamo.apellidos_reporta}}</td>
                <td class="text-center"><button (click) = "verReclamo(reclamo)" data-target="#modalreclamodetalle" data-toggle="modal" class="btn btn-sm btn-outline-dark rounded-pill"><i class="fas fa-eye    "></i></button></td>
                </tr>


            </tbody>
          </table>

          <div class="dropdown-divider"></div>

          <!-- itinerario de maniobras -->
          <table style="width: 100%;" class="table-sm table-light table-bordered table-hover" id="">
            <thead class="">
              <tr>
                <th colspan="11" class="text-center text-white" style="background-color: #003B74; color: white">
                 Itinerario de maniobras
                </th>
              </tr>
              <tr>
                <th class="text-center">Estado</th>
                <th class="text-center">ID</th>
                <th class="text-center">Red modificada</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Evento inicia</th>
                <th class="text-center">Evento finaliza</th>
                <th class="text-center">Operador Responsable</th>
                <th class="text-center">Interrupción</th>
                <th class="text-center">Causa</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maniobra of maniobradto_arr" >
                <td *ngIf="maniobra.estado==1"   class="text-center">
                  <div  style="background-color: #11487D; color:white" role="alert">
                       G
                  </div>
                </td>
                <td *ngIf="maniobra.estado==2"   class="text-center">
                  <div  style="background-color: #70D6BC; color:white" role="alert">
                       V
                  </div>
                </td>
                <td *ngIf="maniobra.estado==3"   class="text-center">
                  <div  style="background-color: #F1857B; color:white" role="alert">
                       A
                  </div>
                </td>
                <td  class="text-center">{{maniobra.id}}</td>
                <td  class="text-center">{{maniobra.red_modificada}}</td>
                <td  class="text-center">{{maniobra.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</td>
                <td  class="text-center">{{maniobra.usuario.nombre}} {{maniobra.usuario.apellido}}</td>
                <td class="text-center" >{{maniobra.tipo_interrupcion}}</td>
                <td >{{maniobra.causa.descripcion_causa}}</td>
                <td >
                    <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn btn-sm btn-secondary" id="btn_verdetallemaniobra" (click)="verDetalleManiobra_rcl(maniobra)"  data-toggle="modal" data-target="#dt_maniobras_modal1">
                          <i class="fas fa-eye    "></i> ver
                        </button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>

          <table style="width: 100%;" class="table-sm table-light table-bordered table-hover" *ngIf="div_maniobrasseleccionadas_rcl" >
            <thead >
              <tr >
                <th style="background-color: #11054E; color:white" colspan="8" class="text-center">
                    Maniobras seleccionadas
                </th>
              </tr>
              <tr>

                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora apertura</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Elemento Aperturado</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Fase afectada</th>
                <th style="background-color:ghostwhite; border:1px grey solid" class="text-center">Hora cierre</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleitinerario_tbl" >
                <td style="border: solid 1px grey" class="text-center">{{detalle.hora_apertura | date:'dd/M/yyyy h:mm'}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.elemento_aperturado}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.fase_afectada}}</td>
                <td style="border: solid 1px grey" class="text-center">{{detalle.hora_cierre | date:'dd/M/yyyy h:mm'}}</td>

              </tr>
            </tbody>
          </table>



         </div>

       </div>
      </div>



      <div id="modalreclamointerrupcion" class="modal-body" style="height: 300px; overflow-y: auto;" >
        <!--FORMULARIO PARA NUEVA INTERRUPCION-->
        <div class="row">
          <div class="col-md-12 small" >
          <form   class="p-2" #frm_interrup="ngForm" (submit)="saveInterrupcion(interrupcion_frm)" >

            <h5> <span class="badge badge-pill badge-secondary"> Rellene los siguientes campos para asociar los reclamos seleccionados a una interrupción</span></h5>

              <div class="row mt-3">


                <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Tipo de interrupción:</label>
                      <select #interrupciontipo="ngModel" [(ngModel)]="interrupcion_frm.tipo_interrupcion" required  name="tipointerrupcion" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="F">Forzada</option>
                        <option value="M">Por maniobra</option>
                        <option value="P">Programada</option>
                      </select>
                  </div>
                  <div [hidden] = "interrupciontipo.valid || interrupciontipo.pristine" class="alert small alert-danger">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Fase:</label>
                      <select #fase="ngModel" [(ngModel)]="interrupcion_frm.fase" required  name="fase" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="AB">AB</option>
                        <option value="AC">AC</option>
                        <option value="BA">BA</option>
                        <option value="BC">BC</option>
                        <option value="ABC">ABC</option>
                      </select>
                  </div>
                  <div [hidden] = "fase.valid || fase.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Sistema:</label>
                      <select (change)="changeSistema($event.target.value)"  #sistema="ngModel" [(ngModel)]="interrupcion_frm.tipo_sistema" required  name="sistema" class="form-control" id=""  >
                        <option value="">Seleccione una opcion...</option>
                        <option value="BT">BT</option>
                        <option value="AT">AT</option>
                        <option value="MT">MT</option>
                      </select>
                  </div>
                  <div [hidden] = "sistema.valid || sistema.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label class="font-weight-bold" for="">Acometida:</label>
                    <select (change)="changeacometida($event.target.value)" name="acometida" #acometidad="ngModel" class="form-control" [(ngModel)]="interrupcion_frm.acometidad">
                      <option value="S">Si</option>
                      <option value="N">No</option>
                    </select>
                    </div>
                <div [hidden] = "acometidad.valid || acometidad.pristine" class="alert alert-danger small">
                    <i class="fas fa-exclamation-circle"></i> Campo requerido
                </div>

              </div>


              </div>

              <div class="row">

                 <div class="col-md-3">
                    <div class="form-group">
                        <label  for="elementos" class="font-weight-bold" for="">Elemento:

                        </label>
                        <select   [(ngModel)]="interrupcion_frm.elemento"  name="elemento" id="elementos" class="form-control  js-example-responsive">
                          <option value="">...</option>
                          <option value="{{elemento}}" *ngFor="let elemento of elementos" >{{elemento}}</option>
                        </select>

                    </div>

                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Suministro:</label>
                          <input readonly="readonly" type="text" [(ngModel)]="interrupcion_frm.num_suministro" class="form-control" name="suministro" #num_suministro="ngModel" >
                      </div>
                      <div [hidden] = "num_suministro.valid || num_suministro.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Origen:</label>
                          <select class="form-control" name="origen_interrupcion" #origen_interrupcion="ngModel" [(ngModel)]="interrupcion_frm.origen_interrupcion" required>
                          <option value="E">Externa</option>
                          <option value="I">Interna</option>
                          </select>
                      </div>
                      <div [hidden] = "origen_interrupcion.valid || origen_interrupcion.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>





                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">Causa:</label>
                          <select (change)="validacionUTKW()" class="form-control" name="causa" #causa="ngModel" [(ngModel)]="interrupcion_frm.causainterrupcion" required>
                            <option *ngFor="let causa of causas"  value="{{causa.codigo_causa}}">{{causa.codigo_causa}}-{{causa.descripcion_causa}}</option>
                          </select>
                      </div>
                      <div [hidden] = "causa.valid || causa.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>

                  <div class="col-md-2" *ngIf="divutkw" >
                      <div class="form-group">
                          <label class="font-weight-bold" for="">UT KW:</label>
                          <input placeholder="UT KW"  type="text" class="form-control" name="kwh_ut" #kwh_ut="ngModel" [(ngModel)]="interrupcion_frm.kwh_ut" required>
                      </div>
                      <div [hidden] = "kwh_ut.valid || kwh_ut.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>

                  </div>
              </div>

              <div class="row">

                  <div class="col-md-2">
                      <div class="form-group">
                          <label class="font-weight-bold" for="">División de red:</label>
                          <select class="form-control" name="divisionred" #divisionred="ngModel" [(ngModel)]="interrupcion_frm.codigo_dred" required>
                            <option value="A">Alterada</option>
                          <option value="N">Normal</option>
                          </select>
                      </div>
                      <div [hidden] = "divisionred.valid || divisionred.pristine" class="alert alert-danger small">
                          <i class="fas fa-exclamation-circle"></i> Campo requerido
                      </div>
                  </div>

                  <div class="col-md-4 bg-white shadow-sm ml-3" >
                    <div class="form-group">
                      <label class="font-weight-bold" for="">Evento inicia: </label>
                      <div class="input-group  " >
                        <input class="form-control " placeholder="dd/mm/yyyy" [(ngModel)]="fecha_eventoinicia" name="dp" #apertura="ngbDatepicker"  ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="apertura.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center" >
                        <div class="col col-md-6"><ngb-timepicker  name="hora" [(ngModel)]="hora_eventoinicia"  ></ngb-timepicker   ></div>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-4 bg-white shadow-sm ml-3" >
                    <div class="form-group">
                      <label class="font-weight-bold" for="">Evento finaliza: </label>
                      <div class="input-group  " >
                        <input class="form-control " placeholder="dd/mm/yyyy" [(ngModel)]="fecha_eventofinaliza" name="dp1" #finaliza="ngbDatepicker"  ngbDatepicker >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="finaliza.toggle()" type="button">
                            <i class="fas fa-calendar-alt    "></i>
                          </button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center" >
                        <div class="col col-md-6">
                          <ngb-timepicker (ngModelChange)="changeEventoFinaliza()"  name="hora1" [(ngModel)]="hora_eventofinaliza"  >

                          </ngb-timepicker>

                          </div>
                      </div>
                    </div>
                  </div>



              </div>

              <div class="row" *ngIf="divalertatiempos" >
                <div class=" col-md-12">

                    <div class="card border-left-warning ">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                              <div class="h5 mb-0 font-weight-bold text-white row">
                                <div class=col>
                                    <h3><span class="badge" style="background-color: #00A0B2;"><i class="fas fa-clock    "></i> Tiempo en concepto de horas: {{horas}} hora(s)</span></h3>
                                </div>
                                <div class=col>
                                    <h3><span class="badge" style="background-color: #014F5C;"><i class="fas fa-clock    "></i> Tiempo en concepto de minutos: {{minutos}} minuto(s)</span></h3>
                                </div>
                                <label for=""></label>
                              </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-exclamation-circle fa-2x text-gray-300   "></i>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                      <label class="font-weight-bold" for="">Calificación:</label>
                      <select (change)="validacionFechas()" #calificacion="ngModel" [(ngModel)]="interrupcion_frm.calificacion"  class="form-control" name="calificacion"  required>
                        <option value="">...</option>
                        <option value="P">
                          Procede
                        </option>
                        <option value="N" >
                          No procede
                        </option>
                      </select>
                  </div>
                  <div [hidden] = "calificacion.valid || calificacion.pristine" class="alert alert-danger small">
                      <i class="fas fa-exclamation-circle"></i> Campo requerido
                  </div>

              </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label class="font-weight-bold" for="">Motivo Reportado:</label>
                        <textarea style="text-transform: uppercase;" class="form-control" name="motivo" #motivo="ngModel" [(ngModel)]="interrupcion_frm.motivo_reportado" required>
                        </textarea>
                    </div>
                    <div [hidden] = "motivo.valid || motivo.pristine" class="alert alert-danger small">
                        <i class="fas fa-exclamation-circle"></i> Campo requerido
                    </div>
                </div>






              </div>

              <div class="row">
              <div class="dropdown-divider"></div>
              </div>




              </form>
          </div>
        </div >
      </div>
      <div class="modal-footer">
        <button [disabled]="frm_interrup.invalid" (click)="generarAsociacionReclamoInterrup(interrupcion_frm)" data-dismiss="modal" class="btn btn-outline-success btn-block" ><i class="fas fa-save    "></i> Guardar asociación</button>
      </div>
    </div>
  </div>
</div>


<!--MODAL PARA LOS DETALLES DE RECLAMO-->
<div id="modalreclamodetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header  bg-dark text-warning">
        <h5 class="modal-title" id="my-modal-title">
         <img src="./assets/imagenes/reclamo.png" width="40" height="40" alt=""> Reclamo <span class="badge bg-white  text-dark">{{reclamodto.correlativo}}</span>
        </h5>
        <button class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div id="detallereclamo" class="col-md-12 small animated fadeInLeft d-none">
          <div class="card">

            <div class="card-body ">
            <h3>Detalles</h3>
             <dl class="row" >
               <div class="col-md-3">
                 <dt class="col-sm-12">Reporto:</dt>
                 <dd class="col-sm-9">{{reclamodto.nombres_reporta}} {{reclamodto.apellidos_reporta}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Cliente:</dt>
                 <dd class="col-sm-9">{{reclamodto.nombres}} {{reclamodto.apellidos}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Tipo Reclamo:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_mreclamo}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Codigo:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_reclamo}}</dd>
               </div>

             </dl>

             <dl class="row" >
               <div class="col-md-3">
                 <dt class="col-sm-12">Fecha Reclamo:</dt>
                 <dd class="col-sm-9">{{reclamodto.fecha | date: 'dd/M/yyyy H:mm'}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Elemento:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_elemento}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Medidor:</dt>
                 <dd class="col-sm-9">{{reclamodto.numero_medidor}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">NIS:</dt>
                 <dd class="col-sm-9">{{reclamodto.num_suministro}}</dd>
               </div>



             </dl>

             <dl class="row" >

               <div class="col-md-3">
                 <dt class="col-sm-12">Tarifa:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_tarifa}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Tipo Servicio:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_tipo_servicio}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Estado Reclamo:</dt>
                 <dd class="col-sm-9">{{reclamodto.reclamo_cerrado}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">N° Orden:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_tipo_ordentrabajo}}</dd>
               </div>

             </dl>

             <dl class="row" >

               <div class="col-md-3">
                 <dt class="col-sm-12">Factura:</dt>
                 <dd class="col-sm-9">{{reclamodto.numero_factura}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Orden Inspección:</dt>
                 <dd class="col-sm-9">{{reclamodto.numero_orden_inspeccion}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Periodo:</dt>
                 <dd class="col-sm-9">{{reclamodto.periodo}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Reconexion:</dt>
                 <dd class="col-sm-9">{{reclamodto.reconexion}}</dd>
               </div>

             </dl>

             <dl class="row" >

               <div class="col-md-3">
                 <dt class="col-sm-12">Servicio Nuevo:</dt>
                 <dd class="col-sm-9">{{reclamodto.servicio_nuevo}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Tipo Servicio:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_tipo_servicio}} </dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Monto Reclamo:</dt>
                 <dd class="col-sm-9">{{reclamodto.monto_reclamo}}</dd>
               </div>

               <div class="col-md-3">
                 <dt class="col-sm-12">Calificación:</dt>
                 <dd class="col-sm-9">{{reclamodto.calificacion_reclamo}}</dd>
               </div>

             </dl>

             <dl class="row" >

               <div class="col-md-3">
                 <dt class="col-sm-12">Usuario EDESAL:</dt>
                 <dd class="col-sm-9">{{reclamodto.codigo_usuario}}</dd>
               </div>

               <div class="col-md-8">
                 <dt class="col-sm-12">Motivo:</dt>
                 <dd class="col-sm-9">{{reclamodto.comentario}} </dd>
               </div>


             </dl>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn btn-secondary">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- MODAL PARA DETALLES DE MANIOBRAS Y CUAL SELECCIONAREMOS -->

<div id="dt_maniobras_modal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row" >

          <div class="col-md-12">
            <div class="card">
              <div class="card-header bg-white small" >
                <dl class="row" >
                  <div class="col-md-3">
                    <dt class="col-sm-12">Red Modificada:</dt>
                    <dd class="col-sm-9">{{maniobradto.red_modificada}}</dd>
                  </div>

                  <div class="col-md-3">
                    <dt class="col-sm-12">Fecha ingreso:</dt>
                    <dd class="col-sm-9">{{maniobradto.fecha_ingreso | date:'dd/M/yyyy H:mm'}}</dd>
                  </div>

                  <div class="col-md-3">
                    <dt class="col-sm-12">Evento inicia:</dt>
                    <dd class="col-sm-9">{{maniobradto.fecha_evento_inicio | date:'dd/M/yyyy H:mm'}}</dd>
                  </div>

                  <div class="col-md-3">
                    <dt class="col-sm-12">Evento cierra:</dt>
                    <dd class="col-sm-9">{{maniobradto.fecha_evento_fin | date:'dd/M/yyyy H:mm'}}</dd>
                  </div>


                </dl>

                <dl class="row">
                  <div class="col-md-3">
                    <dt class="col-sm-12">Operador responsable:</dt>
                    <dd class="col-sm-9">{{maniobradto.usuario?.nombre}} {{maniobradto.usuario?.apellido}}</dd>
                  </div>

                  <div class="col-md-3">
                    <dt class="col-sm-12">Tipo de interupción:</dt>
                    <dd class="col-sm-9">{{maniobradto.tipo_interrupcion}}</dd>
                  </div>

                  <div class="col-md-3">
                    <dt class="col-sm-12">Causa Interrupción:</dt>
                    <dd class="col-sm-12">{{maniobradto.causa?.descripcion_causa}}</dd>
                  </div>
                </dl>
              </div>

              <!-- TABLA DE DETALLES DE MANIOBRA -->

              <div class="card-body">
                  <table class="table small">
                      <thead style="background-color:#001747; color:white">
                        <tr>

                          <th style="border:solid black 1px" class="text-center">Hora apertura</th>
                          <th style="border:solid black 1px" class="text-center">Elemento Aperturado</th>
                          <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                          <th style="border:solid black 1px" class="text-center">Hora cierre</th>
                          <th style="border:solid black 1px" class="text-center">Elemento cierre</th>
                          <th style="border:solid black 1px" class="text-center">Fase afectada</th>
                          <th style="border:solid black 1px" class="text-center">Seleccionar</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr id="{{detallemaniobra.id}}" class="colormaniobra" *ngFor="let detallemaniobra of maniobradto.detallesmaniobra; let i=index" >
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_apertura | date:'dd/M/yyyy H:mm'}}</td>
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_aperturado}}</td>
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada}}</td>
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.hora_cierre | date:'dd/M/yyyy H:mm'}}</td>
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.elemento_cierre}}</td>
                              <td style="border: solid 1px black" class="text-center">{{detallemaniobra.fase_afectada_cierre}}</td>
                              <td  style="border: solid 1px black">
                                <button  [disabled]="maniobradto.estado==1 || maniobradto.estado==3" id="seleccionar{{detallemaniobra.id}}"  (click)="maniobraSeleccionada_rcl(detallemaniobra.id, detallemaniobra,i, maniobradto)" class="btn btn-outline-primary btn-block"><i class="fas fa-hand-paper"></i></button>
                                <button id="deseleccionar{{detallemaniobra.id}}"  (click)="deseleccionarManiobra(detallemaniobra.id, detallemaniobra,i)" class="btn btn-outline-danger btn-block d-none"><i class="fas fa-times-circle"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>

            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" [disabled]="maniobradto.estado==1 || maniobradto.estado==3" id="" (click)="setManiobras_rcl()"   class="btn btn-block btn-outline-success"><i class="fas fa-save    "></i> Finalizar</button>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-block btn-outline-danger"><i class="fas fa-times-circle    "></i> Cerrar</button>

      </div>
    </div>
  </div>
</div>











