
  <div id="wrapper">

    <!--SIDEBAR-->
   <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

        <!--HEADER-->
        <nav *ngIf="isLoggedIn$ | async as isLoggedIn "   class="navbar navbar-expand-lg navbar-dark mx-background-top-linear " style="position: fixed; width: 100%; z-index: 100;">
          <div class="container">
            <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> Sistema de Gestión Técnica</a> <small class="font-weight-bold">v - 1.00000001</small>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

              <ul class="navbar-nav ml-auto">

                <!-- Alerta de interrupciones -->


                <div class="topbar-divider  d-sm-block" style="background-color: honeydew;"></div>

                <!-- Nav Item - User Information -->

                 <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline text-white font-weight-bold ">{{user.alias  | uppercase}}</span>
                      <img class="img-profile rounded-circle" src="./assets/imagenes/admin.png" width=50 height=50>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated bounceIn pb-0" aria-labelledby="userDropdown">
                      <a class="dropdown-item hover_ ">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                      </a>



                        <a (click)="logOut()" class="  bg-danger text-white large dropdown-item mt-2 hover_"  >
                          <i class="fas fa-times-circle fa-sm fa-fw mr-2 text-gray-400 " ></i> Cerrar Sesión
                        </a>

                    </div>
                  </li>



                <div class="topbar-divider d-none d-sm-block"></div>
              </ul>
            </div>
          </div>
        </nav>






        <!--CONTENIDO-->
        <div class="container-fluid  " style="margin-top: 100px">

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
   </div>


<ng-template #loginform>
  <app-login></app-login>
</ng-template>


