<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-power-off"></i> Interrupciones</h1>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
      <div class="p-5 bg-white rounded shadow mb-5">
          <!-- Rounded tabs -->
          <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
            <li class="nav-item flex-sm-fill">
              <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-normal active">
                   <span><i class="fas fa-table"></i> Interrupciones</span>
              </a>
            </li>
            <li class="nav-item flex-sm-fill">
              <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-normal">
                  <i class="far fa-folder-open"></i> Nueva Interrupción
              </a>
            </li>
            <li class="nav-item flex-sm-fill">
              <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-normal">
                  <i class="fas fa-file-invoice"></i> Reportes
              </a>
            </li>
          </ul>

          <div id="myTabContent" class="tab-content">

            <!--INTERRUPCIONES-->
            <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">

            </div>

            <!--FORMULARIO DE NUEVA INTERRUPCION-->
            <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">

            </div>


            <!--REPORTES-->
            <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">

            </div>
          </div>
          <!-- End rounded tabs -->
        </div>
  </div>
</div>
