<div class="card">

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-pane animated bounceInRight   bg-white " id="facturacion" role="tabpanel"
          aria-labelledby="v-pills-home-tab">

          <form [formGroup]="frm_interrupcionessiget">
            <!-- <h4>Formulario <span class="badge badge-secondary">Facturacion SIGET</span></h4> -->
            <div class="row mt-4">

              <div class="col-md-2">
                <div class="form-group">
                  <label for="">Año:</label>
                  <select formControlName="anio" name="anio" class="form-control" id="" required>
                    <option value="">...</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                  </select>
                </div>
                <div
                  *ngIf="frm_interrupcionessiget.controls['anio'].errors?.required && frm_interrupcionessiget.controls['anio'].touched"
                  class="alert alert-danger small">
                  <i class="fas fa-exclamation-circle    "></i> Requerido
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="">Periodo:</label>
                  <select formControlName="mes" name="periodo" class="form-control" id="" required>
                    <option value="">...</option>
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>
                <div *ngIf="" class="alert alert-danger small">
                  <i class="fas fa-exclamation-circle    "></i> Campo requerido!
                </div>

              </div>


            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">

                  <button (click)="generarTabla()" [disabled]="frm_interrupcionessiget.invalid" type="button"
                    class="btn btn-outline-primary btn-block"><i class="fas fa-user-clock    "></i>
                    Generar tabla </button>

                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- DIV PARA TABLA -->

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12" style="overflow-x: scroll;">
          <table *ngIf="tabla" style="width: 100%;"
            class="table table-hover table-light table-borderless small table-bordered" id="tbl_reposiciones">
            <thead>
              <tr>

              </tr>
              <tr>
                <th colspan="10" style="background-color: #e8f5e9;" class="text-white">

                  <div class="btn-group">
                    <button (click)="generarExcel(tabla='reposiciones')" class="btn btn-outline-success btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-excel    "></i> Exportar a Excel</button>
                    <button (click)="generarTextFile(tabla='reposiciones')" class="btn btn-outline-secondary btn-sm "
                      style="border:solid 1px black"><i class="fas fa-file-text    "></i> Exportar a txt</button>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">Caso</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">OA</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">FechaI</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">FechaF</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">DuracionInt
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">IdInter</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">
                  InstalacionAfect
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">CodigoCausal
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">
                  DetalleCausal</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">
                  DescripcionHecho</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">UsuarioAfect
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">Foto</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">ActaN</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">DeclaTest
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">PartePol
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">
                  DeclaTestVieron</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">AvisoReclamo
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">Otros</th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">FOMILENIO
                </th>
                <th style="background-color: black; color:whitesmoke; border:solid 1px" class="text-center">
                  ObservacionEmpresa</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of solicitudes">
                <td>{{item.Caso}}</td>
                <td>{{item.OA}}</td>
                <td>{{item.FechaI}}</td>
                <td>{{item.FechaF}}</td>
                <td>{{item.DuracionInt}}</td>
                <td>{{item.IdInter}}</td>
                <td>{{item.InstalacionAfect}}</td>
                <td>{{item.CodigoCausal}}</td>
                <td>{{item.DetalleCausal}}</td>
                <td>{{item.DescripcionHecho}}</td>
                <td>{{item.UsuaAfect}}</td>
                <td>{{item.Foto}}</td>
                <td>{{item.ActaN}}</td>
                <td>{{item.DeclaTest}}</td>
                <td>{{item.PartePol}}</td>
                <td>{{item.DeclaTestVieron}}</td>
                <td>{{item.AvisoReclamo}}</td>
                <td>{{item.Otros}}</td>
                <td>{{item.FOMILENIO}}</td>
                <td>{{item.ObservacionEmpresa}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Generando tabla...</p>
</ngx-spinner>
